<article class="markdown">
    <h1>Normalize 样式统一</h1>
    <section class="markdown">
        <p>
        在统一浏览器默认样式上，Reset 一度非常流行，更有简单粗暴的通配符 reset。
        </p>

    </section>
    <section class="markdown">
        <h2 id="何时使用"><span>何时使用</span><a href="#何时使用" class="anchor">#</a></h2>
        <ul>
            <li>
                <p>
                    时过境迁，Reset 逐渐淡出的前沿前端的视野，normalize.css 取而代之。
                </p>
            </li>
            <li>
                <p>
                    normalize.css，统一样式的同时保留可辨识性；
                </p>
            </li>
        </ul>
        <h2 id="代码下载"><span>代码下载</span><a href="#代码下载" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo">
                   <p>
                       官方地址：<a target="_blank" href="http://necolas.github.io/normalize.css">http://necolas.github.io/normalize.css</a>
                   </p>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                           其他途径
                       </a>
                    </div>
                    <p>
                        CDN:<a target="_blank" href="http://cdn.bootcss.com/normalize/6.0.0/normalize.css">http://cdn.bootcss.com/normalize/6.0.0/normalize.css</a>
                    </p>
                     <p>
                        压缩版:<a target="_blank" href="http://cdn.bootcss.com/normalize/6.0.0/normalize.min.css">http://cdn.bootcss.com/normalize/6.0.0/normalize.min.css</a>
                    </p>
                </section>
<section>
    <pre>
        <code class="language-markup">
          &lt;link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/normalize/6.0.0/normalize.min.css">
        </code>
    </pre>
</section>
             
            </div>
        </div>

          <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo">
                   <p>
                       使用命令行进行安装，这样更为高逼格。
                   </p>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                           在线安装
                       </a>
                    </div>
                   
                     <p>
                       首先安装node环境，使用npm，yarn都可以。
                    </p>
                </section>
<section>
    <pre>
<code class="language-markup">
              npm install normalize --save-dev
              <em>或者</em>
              yarn install normalize --save-dev
</code>
    </pre>
</section>
             
            </div>
        </div>
    </section>
</article>
