@import "../../base/base";
.#{$cls-prefix}img-hover-text {
  height: 100%;
  position: absolute;
  top: 0;
  line-height: $imgFTrob-img-hover-textFline-height;
  background-color: $imgFTrob-img-hover-textFbackground-color;
  padding: $imgFTrob-img-hover-textFpadding;
  opacity: $imgFTrob-img-hover-textFopacity;
  & .#{$cls-prefix}img-hover-text-title {
    font-size: $imgFTrob-img-hover-textCTrob-img-hover-text-titleFfont-size;
    color: $imgFTrob-img-hover-textCTrob-img-hover-text-titleFcolor;
    display: block;
    margin-bottom: $imgFTrob-img-hover-textCTrob-img-hover-text-titleFmargin-bottom;
  }
  & .#{$cls-prefix}img-hover-text-content {
    font-size: $imgFTrob-img-hover-textCTrob-img-hover-text-contentFfont-size;
    color: $imgFTrob-img-hover-textCTrob-img-hover-text-contentFcolor;

  }
  &:hover {
    transition: all .3s;
    opacity: $imgFTrob-img-hover-textWhoverFopacity;
  }
}