@charset "UTF-8";
/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
@media (min-width: 769px) {
  .rob-sidebar-menu-3 {
    width: 195px;
    background-color: #3d4957;
    /*菜单背景颜色*/ }
    .rob-sidebar-menu-3.close {
      width: 54px; }
      .rob-sidebar-menu-3.close .rob-menu-firstnode:hover a {
        width: 100% !important; }
      .rob-sidebar-menu-3.close > li:hover > a {
        width: 249px;
        text-align: left; }
        .rob-sidebar-menu-3.close > li:hover > a > .title {
          display: inline-block !important;
          padding-left: 20px; }
      .rob-sidebar-menu-3.close > li:hover > .sub-menu {
        top: 58px;
        left: 55px !important; }
      .rob-sidebar-menu-3.close > li > a {
        min-height: 0; }
        .rob-sidebar-menu-3.close > li > a > .title {
          display: none; }
    .rob-sidebar-menu-3 .arrow {
      display: none !important; }
    .rob-sidebar-menu-3 > li {
      position: relative; }
      .rob-sidebar-menu-3 > li.active > a {
        background-color: #1c2637;
        /*一级菜单active的背景颜色*/ }
        .rob-sidebar-menu-3 > li.active > a > .title {
          color: #ffffff;
          /*一级菜单active的字体颜色*/ }
        .rob-sidebar-menu-3 > li.active > a > i {
          color: #ffffff;
          /*一级菜单active的icon颜色*/ }
      .rob-sidebar-menu-3 > li > .sub-menu > li.active > a {
        background-color: #3d4957;
        /*二级菜单active的背景颜色*/ }
        .rob-sidebar-menu-3 > li > .sub-menu > li.active > a > .title {
          color: #ffffff;
          /*一级菜单active的字体颜色*/ }
        .rob-sidebar-menu-3 > li > .sub-menu > li.active > a > i {
          color: #ffffff;
          /*二级菜单active的icon颜色*/ }
      .rob-sidebar-menu-3 > li > .sub-menu > li > .sub-menu > li.active > a {
        background-color: #3d4957;
        /*三级菜单active的背景颜色*/ }
        .rob-sidebar-menu-3 > li > .sub-menu > li > .sub-menu > li.active > a > .title {
          color: #ffffff;
          /*一级菜单active的字体颜色*/ }
        .rob-sidebar-menu-3 > li > .sub-menu > li > .sub-menu > li.active > a > i {
          color: #fff;
          /*三级菜单active的icon颜色*/ }
      .rob-sidebar-menu-3 > li > a {
        border-top: 1px solid #2b3b55;
        color: #c3cee0;
        min-height: 78px;
        display: block;
        position: relative;
        margin: 0;
        padding: 17px 18px 15px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
        text-align: center; }
        .rob-sidebar-menu-3 > li > a > i {
          top: 2px;
          margin-left: 1px;
          margin-right: 4px;
          color: #4d5d7c;
          font-size: 14px; }
        .rob-sidebar-menu-3 > li > a .title {
          display: block;
          text-align: center; }
      .rob-sidebar-menu-3 > li:hover {
        /*一级菜单hover颜色*/ }
        .rob-sidebar-menu-3 > li:hover > a {
          background: #1c2637; }
          .rob-sidebar-menu-3 > li:hover > a > .arrow {
            z-index: 1;
            right: 0;
            margin-top: -36px; }
        .rob-sidebar-menu-3 > li:hover > .sub-menu {
          display: inline-block !important;
          top: 0px;
          left: 195px;
          background-color: #1c2637 !important; }
          .rob-sidebar-menu-3 > li:hover > .sub-menu > li {
            position: relative; }
            .rob-sidebar-menu-3 > li:hover > .sub-menu > li > a {
              color: #b2c0d8;
              display: block;
              padding: 9px 15px;
              text-decoration: none;
              font-size: 13px;
              font-weight: 300; }
            .rob-sidebar-menu-3 > li:hover > .sub-menu > li:hover > a {
              background: yellow;
              /*二级hover*/ }
            .rob-sidebar-menu-3 > li:hover > .sub-menu > li:hover > .sub-menu {
              display: inline-block !important;
              top: 0px;
              left: 195px;
              background-color: #1c2637 !important; }
              .rob-sidebar-menu-3 > li:hover > .sub-menu > li:hover > .sub-menu > li > a {
                color: #b2c0d8;
                display: block;
                padding: 9px 15px;
                text-decoration: none;
                font-size: 13px;
                font-weight: 300; }
              .rob-sidebar-menu-3 > li:hover > .sub-menu > li:hover > .sub-menu > li:hover > a {
                background: green !important;
                /*三级hover*/ }
    .rob-sidebar-menu-3 li {
      display: block;
      margin: 0px;
      padding: 0px;
      border: 0; }
      .rob-sidebar-menu-3 li .sub-menu {
        /*hover隐藏菜单绝对定位*/
        display: none;
        width: 194px;
        z-index: 2000;
        position: absolute; } }

@media (max-width: 768px) {
  /*手机端*/
  .rob-sidebar-menu-3 {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #3d4957;
    /*菜单背景颜色*/ }
    .rob-sidebar-menu-3 li a {
      /*公共样式*/
      display: block;
      position: relative;
      margin: 0;
      text-decoration: none;
      font-weight: 300;
      border-top: 1px solid #3d4957;
      color: #b4bcc8; }
    .rob-sidebar-menu-3 li span.arrow {
      /*菜单的箭头样式（闭合状态）*/
      font-size: 12px;
      float: right;
      margin-top: -1px;
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
    .rob-sidebar-menu-3 li span.arrow.open {
      /*菜单的箭头样式（展开状态）*/
      font-size: 12px;
      float: right;
      margin-top: -1px;
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
    .rob-sidebar-menu-3 > li > a {
      padding: 0 15px;
      font-size: 14px;
      line-height: 40px;
      height: 40px;
      /*一级菜单的图标大小*/ }
      .rob-sidebar-menu-3 > li > a > .title {
        font-size: 14px;
        /*一级菜单的字体大小*/ }
    .rob-sidebar-menu-3 > li.active > a {
      /*一级菜单高亮*/
      background: #3d4957 !important;
      /*一级菜单高亮的背景颜色*/
      color: #fff;
      /*一级菜单高亮的文字颜色*/ }
    .rob-sidebar-menu-3 > li:hover > a {
      /*一级菜单hover颜色*/
      background-color: #fff; }
    .rob-sidebar-menu-3 > li > .sub-menu > li.open > a, .rob-sidebar-menu-3 > li > .sub-menu > li.active > a {
      /*二级菜单展开和选中的时候背景颜色改变*/
      background: red !important; }
    .rob-sidebar-menu-3 > li > .sub-menu > li:hover > a {
      /*二级菜hover的时候背景颜色改变*/
      background: green !important; }
    .rob-sidebar-menu-3 > li > .sub-menu > li > a {
      padding: 0 15px 0 43px;
      line-height: 40px;
      height: 40px;
      font-size: 12px;
      /*二级菜单的图标大小*/ }
      .rob-sidebar-menu-3 > li > .sub-menu > li > a > .title {
        font-size: 14px;
        /*二级菜单的字体大小*/ }
    .rob-sidebar-menu-3 > li > .sub-menu > li > .sub-menu > li.open > a, .rob-sidebar-menu-3 > li > .sub-menu > li > .sub-menu > li.active > a {
      /*三级菜单展开和选中的时候背景颜色改变*/
      background: #999 !important; }
    .rob-sidebar-menu-3 > li > .sub-menu > li > .sub-menu > li:hover > a {
      /*三级菜hover的时候背景颜色改变*/
      background: #333 !important; }
    .rob-sidebar-menu-3 > li > .sub-menu > li > .sub-menu > li > a {
      line-height: 40px;
      height: 40px;
      padding: 0 15px 0 63px;
      font-size: 14px;
      /*三级菜单的图标大小*/ }
      .rob-sidebar-menu-3 > li > .sub-menu > li > .sub-menu > li > a > .title {
        font-size: 14px;
        /*三级菜单的字体大小*/ } }
