@charset "UTF-8";
/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
.rob-sidebar-menu-1 {
  /*菜单背景颜色*/ }
  .rob-sidebar-menu-1 li a {
    /*公共样式*/
    display: block;
    position: relative;
    margin: 0;
    text-decoration: none;
    font-weight: 300;
    border-top: none;
    color: #393939;
    background-color: #fff; }
  .rob-sidebar-menu-1 li span.arrow {
    /*菜单的箭头样式（闭合状态）*/
    font-size: 12px;
    float: right;
    margin-top: -1px;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    transition: all .3s; }
  .rob-sidebar-menu-1 li span.arrow.open {
    /*菜单的箭头样式（展开状态）*/
    font-size: 12px;
    float: right;
    margin-top: -1px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .rob-sidebar-menu-1 ul.sub-menu a {
    background-color: #f6f7f9; }
  .rob-sidebar-menu-1 > li > a {
    padding: 0 15px;
    font-size: 14px;
    line-height: 40px;
    height: 40px; }
    .rob-sidebar-menu-1 > li > a > .title {
      font-size: 14px;
      padding-left: 15px;
      /*一级菜单的字体大小*/ }
  .rob-sidebar-menu-1 > li > a {
    background: #fff !important;
    color: #333;
    border-top: none; }
    .rob-sidebar-menu-1 > li > a .selected {
      /*右侧选择指示箭头*/
      display: block;
      float: right;
      position: absolute;
      right: 0;
      top: 8px;
      background: 0 0;
      width: 0;
      height: 0;
      border-top: none;
      border-bottom: none;
      border-right: none; }
  .rob-sidebar-menu-1 > li > a:hover {
    /*一级菜单hover颜色*/
    background-color: transparent;
    color: #ff7177; }
  .rob-sidebar-menu-1 > li > .sub-menu > li.open > a, .rob-sidebar-menu-1 > li > .sub-menu > li.active > a {
    /*二级菜单展开和选中的时候背景颜色改变*/
    background-color: transparent !important;
    border-right: 2px solid #ff7177;
    color: #ff7177;
    cursor: pointer; }
  .rob-sidebar-menu-1 > li > .sub-menu > li:hover > a {
    /*二级菜hover的时候背景颜色改变*/
    background-color: transparent !important;
    color: #ff7177;
    border-right: 2px solid #ff7177;
    cursor: pointer; }
  .rob-sidebar-menu-1 > li > .sub-menu > li > a {
    padding: 0px 15px 0 43px;
    font-size: 14px;
    line-height: 40px;
    height: 40px; }
    .rob-sidebar-menu-1 > li > .sub-menu > li > a > .title {
      font-size: 14px;
      padding-left: 15px;
      /*二级菜单的字体大小*/ }
  .rob-sidebar-menu-1 > li > .sub-menu > li > .sub-menu > li.open > a, .rob-sidebar-menu-1 > li > .sub-menu > li > .sub-menu > li.active > a {
    /*三级菜单展开和选中的时候背景颜色改变*/
    background-color: #3e4b5c !important; }
  .rob-sidebar-menu-1 > li > .sub-menu > li > .sub-menu > li:hover > a {
    /*三级菜hover的时候背景颜色改变*/
    background: #3e4b5c !important; }
  .rob-sidebar-menu-1 > li > .sub-menu > li > .sub-menu > li > a {
    padding: 6px 15px 6px 60px;
    /*三级菜单的padding*/
    font-size: 14px;
    /*三级菜单的图标大小*/ }
    .rob-sidebar-menu-1 > li > .sub-menu > li > .sub-menu > li > a > .title {
      font-size: 14px;
      padding-left: 15px;
      /*三级菜单的字体大小*/ }
  .rob-sidebar-menu-1 .sub-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #f6f7f9; }

.rob-sidebar-menu-1.close {
  /*菜单背景颜色*/
  width: 45px !important; }
  .rob-sidebar-menu-1.close .rob-menu-firstnode:hover {
    width: 100% !important; }
  .rob-sidebar-menu-1.close > li > .sub-menu {
    display: none !important; }
  .rob-sidebar-menu-1.close > li > a .title {
    display: none; }
  .rob-sidebar-menu-1.close > li > a .arrow {
    display: none; }
  .rob-sidebar-menu-1.close > li:hover {
    width: 200px !important;
    position: relative !important;
    display: block !important; }
    .rob-sidebar-menu-1.close > li:hover > a > i {
      margin-right: 10px; }
    .rob-sidebar-menu-1.close > li:hover > a > .title {
      display: inline !important;
      padding-left: 15px; }
    .rob-sidebar-menu-1.close > li:hover > .sub-menu {
      width: 155px;
      position: absolute;
      z-index: 60;
      left: 45px;
      margin-top: 0;
      top: 100%;
      display: block !important; }
      .rob-sidebar-menu-1.close > li:hover > .sub-menu > li > a {
        padding-left: 15px !important; }
      .rob-sidebar-menu-1.close > li:hover > .sub-menu > li > .sub-menu > li > a {
        padding-left: 30px !important; }

@media (max-width: 768px) {
  .rob-sidebar-menu-1 {
    z-index: 20;
    position: static !important;
    width: 100% !important;
    height: auto !important; }
    .rob-sidebar-menu-1 > li.open > .sub-menu {
      width: auto !important; }
      .rob-sidebar-menu-1 > li.open > .sub-menu > li > .sub-menu {
        display: none; } }

.rob-clearmargin {
  margin: 0; }
