/* button */

body,
* {
  font-family: '微软雅黑';
}

html {
  background-color: #ececec;
}

.code-box {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
  pre {
    background: #fff !important;
    code {
      border: none;
      background: #fff !important;
    }
  }
}

.i-down {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.i-down-2 {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.i-down {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  display: inline-block;
  transform: rotate(-180deg);
}

.i-down-2 {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  display: inline-block;
  transform: rotate(0deg);
}

.code-box-demo {
  border-bottom: 1px solid #e9e9e9;
  padding: 42px 20px 50px;
}

.code-box-meta {
  position: relative;
  padding: 17px 16px 15px 20px;
  border-radius: 0 0 4px 4px;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  width: 100%;
  font-size: 12px;
  // border-bottom: 1px #e9e9e9 dashed;
  p {
    margin: 4px 0;
    width: 98%;
    word-wrap: break-word;
  }
  .code-show {
    position: absolute;
    right: 20px;
    top: 25px;
    color: #b1aaaa;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: #333;
    }
  }
}

.code-box-content {
  display: none;
  border-top: 1px #e9e9e9 dashed;
}

.code-box-title {
  position: absolute;
  top: -14px;
  padding: 1px 8px;
  margin-left: -8px;
  color: #777;
  border-radius: 4px;
  border-top-left-radius: 0;
  background: #fff;
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
  a {
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-weight: 500;
    &:hover {
      color: rgba(0, 0, 0, .65);
      font-size: 14px;
      font-weight: 500;
    }
  }
}

//grid
.rob-grid {
    &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  [class*="rob-col-"] {
    background-color: #35baff;
    padding: 25px 0;
    color: #fff;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    &:nth-child(even) {
      background-color: rgba(53, 186, 255, .1);
      color: #333;
    }
  }
}

#widgetsConfig {
  label {
    &:hover {
      color: #35baff;
    }
  }
  i {
    &:hover {
      color: #35baff;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

#cssConfig div span,
#jsConfig div span,
#widgetsConfig div span {
  display: inline-block;
  background: #f3f3f3;
  color: #666;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

//定制
.customize-title {
  margin-bottom: 20px;
  .title {
    color: #2c3e50;
    font-weight: 400;
    font-size: 25px;
    padding: 20px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  p {
    margin: 20px 0;
    line-height: 25px;
    color: #9e9e9e;
  }
  .div-item {
    margin: 30px 0;
  }
  h3 {
    margin-bottom: 10px;
  }
  h4 {
    color: #333;
    font-weight: 400;
    font-size: 18px;
  }
}

pre[class*=language-] {
  padding: 0;
  margin: 0;
}

.markdown h2 {
  margin: 0;
}

.text-gradient {
  font-family: '微软雅黑';
  font-size: 14px;
}

.customize-label {
  font-weight: 500;
  color: #555;
  font-size: 12px;
  display: inline-block;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
}

.customize-sublabel {
  font-size: 12px;
  color: #00a854;
  background: #cfefdf;
  border-color: #cfefdf;
}

.customize {
  margin-right: -15px;
  margin-left: -15px;
  [class*="col-"] {
    padding: 0 15px
  }
  h3 {
    padding: 0 15px;
    display: inline-block;
    &:hover {
      color: #35baff;
      cursor: pointer;
    }
  }
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
  margin-bottom: 30px;
}

.clearfix {
   &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.customize-title h3 {
  margin-top: 20px;
}

.cssMenu {
  margin-top: 5px;
  .cssMenu {
    margin-left: 15px;
    .cssMenu {
      margin-left: 15px;
      .cssMenu {
        margin-left: 15px;
        .cssMenu {
          margin-left: 15px;
          .cssMenu {
            margin-left: 15px;
            .cssMenu {
              margin-left: 15px;
              .cssMenu {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}

.cssZujian {
  display: none;
  cursor: pointer;
}

.i-fail {
  width: 46px;
  height: 62px;
  background: transparent url(http://localhost:3019/assets/images/icon7.png) no-repeat scroll -136px -2058px;
  display: inline-block;
}

.icon-f1 {
  background: url(http://rsfwuat.rongcapital.cn/assets/images/7d2240a0d37c2198bb296b6e09bc742e.png) -190px -1110px no-repeat
}

.icon-f02 {
  background: url(http://rsfwuat.rongcapital.cn/assets/images/7d2240a0d37c2198bb296b6e09bc742e.png) 0 -1200px no-repeat
}

.icon-f03 {
  background: url(http://rsfwuat.rongcapital.cn/assets/images/7d2240a0d37c2198bb296b6e09bc742e.png) 0 -1290px no-repeat
}

.icon-f04 {
  background: url(http://rsfwuat.rongcapital.cn/assets/images/7d2240a0d37c2198bb296b6e09bc742e.png) 0 -1380px no-repeat
}

.icon-f05 {
  background: url(http://rsfwuat.rongcapital.cn/assets/images/7d2240a0d37c2198bb296b6e09bc742e.png) 0 -1470px no-repeat
}

.ioc_info {
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-bottom: 20px;
}

.rob-grid li {
  list-style-type: none;
}

.icon-demo {
  font-size: 30px;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  span {
    font-size: 12px;
    display: block;
    padding-top: 10px;
  }
  &:hover {
    background-color: #108ee9;
    cursor: pointer;
    color: #fff;
  }
}

.contentHolder {
  position: relative;
  margin: 0px auto;
  padding: 0px;
  width: 600px;
  height: 400px;
  overflow: hidden;
  .title {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 30px;
    color: #2992e1;
  }
}

.contentHolder .content {
  background-color: #ecf6fd;
  width: 1280px;
  height: 720px;
}

.spacer {
  text-align: center
}

.bs-dropzone {
  text-align: center;
  border: 2px dashed #ccc;
  padding: 30px;
  font-size: 20px;
  margin: 20px 0 100px;
  .rob-icon-download {
    font-size: 40px;
    color: #737272;
  }
  p {
    color: #333;
    code {
      background-color: rgba(244, 67, 54, .3);
      color: #E91E63;
      padding: 2px 5px;
      border-radius: 4px;
    }
  }
  .upload {
    font-size: 14px;
    .hidden {
      display: none;
    }
    label {
      color: #108ee9;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.loading-demo {
  display: none;
}

#logo i {
  display: none;
}

@media only screen and (max-width: 768px) and (min-width: 0) {
  .main-container {
    min-height: 100px;
  }
  .code-box-demo {
    p {
      a {
        word-wrap: break-word;
      }
    }
  }
}

@media only screen and (max-width: 992px) and (min-width: 0) {
  .main-wrapper {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 0px;
    min-height: auto;
    margin-top: 100px;
    padding-top: 20px;
  }
  #logo i {
    display: inline-block;
  }
  #footer {
    margin-top: 20px;
  }
  #header-menu {
    display: none;
    height: 0;
    &.open {
      display: block;
      z-index: 1000;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      background: #fff;
    }
  }
  #header {
    position: fixed;
    z-index: 10;
    top: 0;
    border-bottom: 1px solid #ececec;
    width: 100%;
    padding: 0;
    overflow: auto;
    .header-menu {
      li {
        width: 100%;
      }
    }
    #logo {
      text-align: center;
      a,
      span {
        float: none;
      }
    }
    .rob-icon-angle-down {
      font-size: 18px;
      position: absolute;
      right: 10%;
      top: 50%;
      transition: all .3s;
      transform: translateY(-50%);
      transform-origin: 50% 25%;
    }
    &.open {
      .rob-icon-angle-down {
        transform: rotate(-180deg);
      }
      height:80px;
    }
    .header-menu {
      margin-top: 80px;
    }
  }
}

.img-demo {
  margin-bottom: 20px;
}

.circle {
  width: 200px;
}

.demoVas {
  label {
    display: inline-block;
    font-size: 12px;
    &+label {
      color: #00a854;
      background: #cfefdf;
      border-color: #cfefdf;
    }
  }
}
