<div class="center">
    <div class="rob-row main-wapper">
        <div class="rob-col-lg-5">
            <div class="side-nav">
                <div class="nav-dropdown el-dropdown"><span>
      版本：1.4.1
      <i class="el-icon-caret-bottom el-icon--right"></i></span></div>
                <ul>
                    <li class="nav-item"><a>开发指南</a>
                        <ul class="pure-menu-list sub-nav" style="height: auto;">
                            <li class="nav-item"><a href="#/zh-CN/component/installation" class="">安装</a></li>
                            <li class="nav-item"><a href="#/zh-CN/component/quickstart" class="">快速上手</a></li>
                            <li class="nav-item"><a href="#/zh-CN/component/i18n" class="">国际化</a></li>
                            <li class="nav-item"><a href="#/zh-CN/component/custom-theme" class="">自定义主题</a></li>
                            <li class="nav-item"><a href="#/zh-CN/component/transition" class="">内置过渡动画</a></li>
                        </ul>
                        <!---->
                    </li>
                    <li class="nav-item"><a href="#/zh-CN/component/changelog" class="">更新日志</a></li>
                    <li class="nav-item">
                        <!----><a href="https://eleme.github.io/element-react/" target="_blank">Element React</a></li>
                    <li class="nav-item"><a>基础组件</a>
                        <div class="nav-group">
                            <div class="nav-group__title">Basic</div>
                            <ul class="pure-menu-list" style="height: auto;">
                                <li class="nav-item"><a href="#/zh-CN/component/layout" class="">Layout 布局</a></li>
                                <li class="nav-item"><a href="#/zh-CN/component/color" class="">Color 色彩</a></li>
                                <li class="nav-item"><a href="#/zh-CN/component/typography" class="">Typography 字体</a></li>
                                <li class="nav-item"><a href="#/zh-CN/component/icon" class="">Icon 图标</a></li>
                                <li class="nav-item"><a href="#/zh-CN/component/button" class="">Button 按钮</a></li>
                            </ul>
                        </div>
                        <div class="nav-group">
                            <div class="nav-group__title">Form</div>
                            <ul class="pure-menu-list" style="height: auto;">
                                <li class="nav-item"><a ui-sref-active="active" ui-sref="components.datetime-picker" class="">DateTimePicker 时间选择器</a></li>
                                <li class="nav-item"><a ui-sref-active="active" ui-sref="components.bank-picker" class="">BankPickerPicker 银行选择器</a></li>
                                <li class="nav-item"><a ui-sref-active="active" ui-sref="components.area-picker" class="">AreaPickerPicker 地址选择器</a></li>
                                <li class="nav-item"><a ui-sref-active="active" ui-sref="components.button" class="">Button 按钮</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rob-col-lg-19">
            <div class="demo-code" ui-view=""></div>
        </div>
    </div>
</div>