<link rel="stylesheet" type="text/css" href="../../assets/css/demo.css">

        <div class="content center">
            <div class="docs-wrap">
                <div class="docs-nav">
                    <ul>
                        <li><a class="" href="" ng-click="goId('cssConfig')" ng-class="{true: 'active', false: ''}[state=='cssConfig']">通用 CSS</a></li>
                        <li><a class="" href="" ng-click="goId('jsConfig')" ng-class="{true: 'active', false: ''}[state=='jsConfig']">JavaScript 插件</a></li>
                        </li>
                        <li ><a class="" href="" ng-click="goId('widgetsConfig')" ng-class="{true: 'active', false: ''}[state=='widgetsConfig']">组件</a></li>
                    
                    </ul>
                </div>
                <div class="" ui-view=""></div>
            </div>
        </div>
