<article class="markdown">
    <h1>Icon 图标</h1>
    <section class="markdown">
        <p>
            语义化的矢量图形。点击复制
        </p>
    </section>
    <section class="markdown">
        <h2 id="代码演示"><span>代码演示</span><a href="#代码演示" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo">
                    <h3>方向性图标</h3>
                    <div class="rob-row">
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-angle-down" style="height: 150px;">
                            <i class="rob-icon-angle-down"></i>
                            <span>rob-icon-angle-down</span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-caret-down">
                            <i class="rob-icon-caret-down
                            "></i>
                            <span>rob-icon-caret-down</span>
                        </div>
                          <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-caret-up" style="height: 150px;">
                            <i class="rob-icon-caret-up
                            "></i>
                            <span>rob-icon-caret-up</span>
                        </div>
                          <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-caret-right" style="height: 150px;">
                            <i class="rob-icon-caret-right
                            "></i>
                            <span>rob-icon-caret-right</span>
                        </div>
                          <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-caret-left" style="height: 150px;">
                            <i class="rob-icon-caret-left
                            "></i>
                            <span>rob-icon-caret-left</span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-angle-up" style="height: 150px;">
                            <i class="rob-icon-angle-up
                            "></i>
                            <span>rob-icon-angle-up
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-chevron-right" style="height: 150px;">
                            <i class="rob-icon-chevron-right
                            "></i>
                            <span>rob-icon-chevron-right
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-chevron-left" style="height: 150px;">
                            <i class="rob-icon-chevron-left
                            "></i>
                            <span>rob-icon-chevron-left
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-double-chevron-left" style="height: 150px;">
                            <i class="rob-icon-double-chevron-left
                            "></i>
                            <span>rob-icon-double-chevron-left
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-double-chevron-right" style="height: 150px;">
                            <i class="rob-icon-double-chevron-right
                            "></i>
                            <span>rob-icon-double-chevron-right
                            </span>
                        </div>
                    </div>
                    <h3>其他</h3>
                    <div class="rob-row">
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-home" style="height: 150px;">
                            <i class="rob-icon-home"></i>
                            <span>rob-icon-home</span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-trash" style="height: 150px;">
                            <i class="rob-icon-trash"></i>
                            <span>rob-icon-trash</span>
                        </div>
                         <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-card" style="height: 150px;">
                            <i class="rob-icon-card"></i>
                            <span>rob-icon-card</span>
                        </div>
                         <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-wallet" style="height: 150px;">
                            <i class="rob-icon-wallet"></i>
                            <span>rob-icon-wallet</span>
                        </div>
                         <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-volume" style="height: 150px;">
                            <i class="rob-icon-volume"></i>
                            <span>rob-icon-volume</span>
                        </div>
                         <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-user-sign" style="height: 150px;">
                            <i class="rob-icon-user-sign"></i>
                            <span>rob-icon-user-sign</span>
                        </div>
                         <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-download-alt" style="height: 150px;">
                            <i class="rob-icon-download-alt"></i>
                            <span>rob-icon-download-alt</span>
                        </div>
                         <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-store" style="height: 150px;">
                            <i class="rob-icon-store"></i>
                            <span>rob-icon-store</span>
                        </div>
                         <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-label" style="height: 150px;">
                            <i class="rob-icon-label"></i>
                            <span>rob-icon-label</span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-bell" style="height: 150px;">
                            <i class="rob-icon-bell
                            "></i>
                            <span>rob-icon-bell
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-calendar" style="height: 150px;">
                            <i class="rob-icon-calendar
                            "></i>
                            <span>rob-icon-calendar
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-check" style="height: 150px;">
                            <i class="rob-icon-check
                            "></i>
                            <span>rob-icon-check
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-id-card" style="height: 150px;">
                            <i class="rob-icon-id-card
                            "></i>
                            <span>rob-icon-id-card
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-menu-left" style="height: 150px;">
                            <i class="rob-icon-menu-left
                            "></i>
                            <span>rob-icon-menu-left
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-line-chart" style="height: 150px;">
                            <i class="rob-icon-line-chart
                            "></i>
                            <span>rob-icon-line-chart
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-package" style="height: 150px;">
                            <i class="rob-icon-package
                            "></i>
                            <span>rob-icon-package
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-plus-alt" style="height: 150px;">
                            <i class="rob-icon-plus-alt
                            "></i>
                            <span>rob-icon-plus-alt
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-plus-square" style="height: 150px;">
                            <i class="rob-icon-plus-square
                            "></i>
                            <span>rob-icon-plus-square
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-plus" style="height: 150px;">
                            <i class="rob-icon-plus
                            "></i>
                            <span>rob-icon-plus
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-settings" style="height: 150px;">
                            <i class="rob-icon-settings
                            "></i>
                            <span>rob-icon-settings
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-choose-alt" style="height: 150px;">
                            <i class="rob-icon-choose-alt
                            "></i>
                            <span>rob-icon-choose-alt
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-choose-square" style="height: 150px;">
                            <i class="rob-icon-choose-square
                            "></i>
                            <span>rob-icon-choose-square
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-close-alt" style="height: 150px;">
                            <i class="rob-icon-close-alt
                            "></i>
                            <span>rob-icon-close-alt
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-cny-square" style="height: 150px;">
                            <i class="rob-icon-cny-square
                            "></i>
                            <span>rob-icon-cny-square
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-code" style="height: 150px;">
                            <i class="rob-icon-code
                            "></i>
                            <span>rob-icon-code
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-delete" style="height: 150px;">
                            <i class="rob-icon-delete
                            "></i>
                            <span>rob-icon-delete
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-contract" style="height: 150px;">
                            <i class="rob-icon-contract
                            "></i>
                            <span>rob-icon-contract
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-edit-sign" style="height: 150px;">
                            <i class="rob-icon-edit-sign
                            "></i>
                            <span>rob-icon-edit-sign
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-edit" style="height: 150px;">
                            <i class="rob-icon-edit
                            "></i>
                            <span>rob-icon-edit
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-exchange" style="height: 150px;">
                            <i class="rob-icon-exchange
                            "></i>
                            <span>rob-icon-exchange
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-eye-close" style="height: 150px;">
                            <i class="rob-icon-eye-close
                            "></i>
                            <span>rob-icon-eye-close
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-eye-open" style="height: 150px;">
                            <i class="rob-icon-eye-open
                            "></i>
                            <span>rob-icon-eye-open
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-search-plus" style="height: 150px;">
                            <i class="rob-icon-search-plus
                            "></i>
                            <span>rob-icon-search-plus
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-text" style="height: 150px;">
                            <i class="rob-icon-text
                            "></i>
                            <span>rob-icon-text
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-bar-chart-o" style="height: 150px;">
                            <i class="rob-icon-bar-chart-o
                            "></i>
                            <span>rob-icon-bar-chart-o
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-bar-chart" style="height: 150px;">
                            <i class="rob-icon-bar-chart
                            "></i>
                            <span>rob-icon-bar-chart
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="" style="height: 150px;">
                            <i class="rob-icon-cny-alt-o
                            "></i>
                            <span>rob-icon-cny-alt-o
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-cny-alt" style="height: 150px;">
                            <i class="rob-icon-cny-alt
                            "></i>
                            <span>rob-icon-cny-alt
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-exclamation" style="height: 150px;">
                            <i class="rob-icon-exclamation-alt
                            "></i>
                            <span>rob-icon-exclamation
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-finish" style="height: 150px;">
                            <i class="rob-icon-finish
                            "></i>
                            <span>rob-icon-finish
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-forbid" style="height: 150px;">
                            <i class="rob-icon-forbid
                            "></i>
                            <span>rob-icon-forbid
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-lending" style="height: 150px;">
                            <i class="rob-icon-lending"></i>
                            <span>rob-icon-lending
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-link" style="height: 150px;">
                            <i class="rob-icon-link"></i>
                            <span>rob-icon-link
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-lock" style="height: 150px;">
                            <i class="rob-icon-lock
                            "></i>
                            <span>rob-icon-lock
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-menu-right" style="height: 150px;">
                            <i class="rob-icon-menu-right
                            "></i>
                            <span>rob-icon-menu-right
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-pie-chart" style="height: 150px;">
                            <i class="rob-icon-pie-chart
                            "></i>
                            <span>rob-icon-pie-chart
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-search" style="height: 150px;"> 
                            <i class="rob-icon-search
                            "></i>
                            <span>rob-icon-search
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-signout" style="height: 150px;">
                            <i class="rob-icon-signout
                            "></i>
                            <span>rob-icon-signout
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-download-sign" style="height: 150px;">
                            <i class="rob-icon-download-sign
                            "></i>
                            <span>rob-icon-download-sign
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-download" style="height: 150px;">
                            <i class="rob-icon-download
                            "></i>
                            <span>rob-icon-download
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-minus-square" style="height: 150px;">
                            <i class="rob-icon-minus-square
                            "></i>
                            <span>rob-icon-minus-square
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-safe" style="height: 150px;">
                            <i class="rob-icon-safe
                            "></i>
                            <span>rob-icon-safe
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-send" style="height: 150px;">
                            <i class="rob-icon-send
                            "></i>
                            <span>rob-icon-send
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-star" style="height: 150px;">
                            <i class="rob-icon-star
                            "></i>
                            <span>rob-icon-star
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-upload-alt" style="height: 150px;">
                            <i class="rob-icon-upload-alt
                            "></i>
                            <span>rob-icon-upload-alt
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-upload" style="height: 150px;">
                            <i class="rob-icon-upload
                            "></i>
                            <span>rob-icon-upload
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-user" style="height: 150px;">
                            <i class="rob-icon-user
                            "></i>
                            <span>rob-icon-user
                            </span>
                        </div>
                        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-12 rob-col-xs-24 icon-demo" ng-click="copyIcon()" data-clipboard-text="rob-icon-user-alt" style="height: 150px;">
                            <i class="rob-icon-user-alt
                            "></i>
                            <span>rob-icon-user-alt
                            </span>
                        </div>
                    </div>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                           字体图标
                       </a>
                    </div>
                    <p>
                        语义化的矢量图形。
                    </p>
                    <i class="rob-icon rob-icon-home code-show" ng-click="showCode('grid')"></i>
                </section>
                <section id="grid" class="code-box-content">
                    <pre>
<code class="language-markup">
                   
</code>
</pre>
                </section>
            </div>
        </div>
    </section>
</article>
