<article class="markdown">
    <h1>Timeline 时间轴</h1>
    <section class="markdown">
        <p>
            实现了一个从上到下的展示方式，中间可以插入文本甚至可以插入轮播图
        </p>
    </section>
    <section class="markdown">
        <h2 id="实例"><span>基本实例</span><a href="#实例" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo rob-grid">
                    <!-- 时间轴 -->
                    <h3>时间轴</h3>
                    <ul class="rob-ant-timeline">

                        <li class="rob-ant-timeline-item">
                         <div class="rob-ant-timeline-item-time">2015-09-01</div>
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content">
                                <div class="rob-ant-timeline-item-desc right">
                                <div class="arrow"></div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                </div>
                            </div>
                        </li>
                         <li class="rob-ant-timeline-item">
                         <div class="rob-ant-timeline-item-time">2015-09-01</div>
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content">
                                <div class="rob-ant-timeline-item-desc right">
                                <div class="arrow"></div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                </div>
                            </div>
                        </li>
                         <li class="rob-ant-timeline-item">
                         <div class="rob-ant-timeline-item-time">2015-09-01</div>
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content">
                                <div class="rob-ant-timeline-item-desc right">
                                <div class="arrow"></div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                </div>
                            </div>
                        </li>
                         <li class="rob-ant-timeline-item rob-ant-timeline-item-last">
                         <div class="rob-ant-timeline-item-time">2015-09-01</div>
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content">
                                <div class="rob-ant-timeline-item-desc right">
                                <div class="arrow"></div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                   <div>oooo</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- 时间轴多色圈圈版 -->
                    <h3>时间轴多色圈圈版</h3>
                    <ul class="rob-ant-timeline">
                        <li class="rob-ant-timeline-item">
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-green"></div>
                            <div class="rob-ant-timeline-item-content">Create a services site 2015-09-01</div>
                        </li>
                        <li class="rob-ant-timeline-item">
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-green"></div>
                            <div class="rob-ant-timeline-item-content">Create a services site 2015-09-01</div>
                        </li>
                        <li class="rob-ant-timeline-item">
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-red"></div>
                            <div class="rob-ant-timeline-item-content">
                                <p>Solve initial network problems 1</p>
                                <p>Solve initial network problems 2</p>
                                <p>Solve initial network problems 3 2015-09-01</p>
                            </div>
                        </li>
                        <li class="rob-ant-timeline-item rob-ant-timeline-item-last">
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content">
                                <p>Technical testing 1</p>
                                <p>Technical testing 2</p>
                                <p>Technical testing 3 2015-09-01</p>
                            </div>
                        </li>
                    </ul>
                    <!-- 时间轴查看更多版 -->
                    <h3>时间轴查看更多版</h3>
                    <ul class="rob-ant-timeline rob-ant-timeline-pending">
                        <li class="rob-ant-timeline-item">
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content">Create a services site 2015-09-01</div>
                        </li>
                        <li class="rob-ant-timeline-item">
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content">Solve initial network problems 2015-09-01</div>
                        </li>
                        <li class="rob-ant-timeline-item rob-ant-timeline-item-last">
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content">Technical testing 2015-09-01</div>
                        </li>
                        <li class="rob-ant-timeline-item rob-ant-timeline-item-pending">
                            <div class="rob-ant-timeline-item-tail"></div>
                            <div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue"></div>
                            <div class="rob-ant-timeline-item-content"><a href="#">查看更多</a></div>
                        </li>
                    </ul>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                           基本实例
                       </a>
                    </div>
                    <p>
                        展示了三种时间轴样式 ： 左面的圈圈的颜色是可变的，根据不同的写法，可展示出多种样式
                    </p>
                    <div class="rob-table-responsive">
                        <table class="rob-table rob-table-hover rob-table-bordered">
                            <thead>
                                <tr>
                                    <th> 名称</th>
                                    <th> 序号</th>
                                    <th> 效果</th>
                                    <th> 所需类名</th>
                                    <th> 定制所需</th>
                                    <th> 备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>时间轴</td>
                                    <td>1</td>
                                    <td>时间轴</td>
                                    <td><code class="language-markup">.rob-ant-timeline</code>(选中) 或 [active]属性</td>
                                    <td> <code class="language-markup">timeline</code>(必要)</td>
                                    <td>所有按钮都可以直接使用</td>
                                </tr>
                                <tr>
                                    <td>时间轴</td>
                                    <td>2</td>
                                    <td>时间轴多色圈圈版</td>
                                    <td><code class="language-markup">.active</code>(选中) 或 [active]属性</td>
                                    <td> <code class="language-markup">timeline</code>(必要)</td>
                                    <td>所有按钮都可以直接使用</td>
                                </tr>
                                <tr>
                                    <td>时间轴</td>
                                    <td>3</td>
                                    <td>时间轴查看更多版</td>
                                    <td><code class="language-markup">.active</code>(选中) 或 [active]属性</td>
                                    <td> <code class="language-markup">timeline</code>(必要)</td>
                                    <td>所有按钮都可以直接使用</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <i class="rob-icon rob-icon-home code-show" ng-click="showCode('timeline')"></i>
                </section>
                <section id="timeline" class="code-box-content">
                    <pre>
<code class="language-markup">

                    &lt;!-- 时间轴 -->
                    &lt;ul class="rob-ant-timeline">
                        &lt;li class="rob-ant-timeline-item">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Create a services site 2015-09-01&lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Solve initial network problems 2015-09-01&lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Technical testing 2015-09-01&lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item rob-ant-timeline-item-last">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Network problems being solved 2015-09-01&lt;/div>
                        &lt;/li>
                    &lt;/ul>



                    &lt;!-- 时间轴多色圈圈版 -->
                    &lt;ul class="rob-ant-timeline">
                        &lt;li class="rob-ant-timeline-item">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-green">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Create a services site 2015-09-01&lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-green">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Create a services site 2015-09-01&lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-red">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">
                                &lt;p>Solve initial network problems 1&lt;/p>
                                &lt;p>Solve initial network problems 2&lt;/p>
                                &lt;p>Solve initial network problems 3 2015-09-01&lt;/p>
                            &lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item rob-ant-timeline-item-last">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">
                                &lt;p>Technical testing 1&lt;/p>
                                &lt;p>Technical testing 2&lt;/p>
                                &lt;p>Technical testing 3 2015-09-01&lt;/p>
                            &lt;/div>
                        &lt;/li>
                    &lt;/ul>



                &lt;!-- 时间轴查看更多版 -->
                    &lt;ul class="rob-ant-timeline rob-ant-timeline-pending">
                        &lt;li class="rob-ant-timeline-item">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Create a services site 2015-09-01&lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Solve initial network problems 2015-09-01&lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item rob-ant-timeline-item-last">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">Technical testing 2015-09-01&lt;/div>
                        &lt;/li>
                        &lt;li class="rob-ant-timeline-item rob-ant-timeline-item-pending">
                            &lt;div class="rob-ant-timeline-item-tail">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-head rob-ant-timeline-item-head-blue">&lt;/div>
                            &lt;div class="rob-ant-timeline-item-content">&lt;a href="#">查看更多&lt;/a>&lt;/div>
                        &lt;/li>
                    &lt;/ul>    
    </code>
    </pre>
                </section>
            </div>
        </div>
    </section>
</article>
