@import "../../base/base";

.#{$cls-prefix}nav-tabs-toggle {
  background-color: #eff1f6;
  border:solid 1px #e5e6e9;

  padding:0;


  > li {
    &:nth-last-child(2)
    {
      a{
        margin-right: 0;

      }
    }

    float: left;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      padding: 16px 22px;
      color:  #393939;
      margin-right: 61px;
      text-align: center;
      /* border: 1px solid transparent;*/

      //border-radius: 4px 4px 0 0;
      &:hover {
        color:  #35baff;
        background-color: #eff1f6;
        //background:#91ce3b ;
      }
      //background: linear-gradient(to right, #ced1d7, #dadce1)
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        background-color: $tabFTrob-nav-tabs-toggleCPCliTactiveCPCaBCTrob-nav-tabs-toggleCPCliTactiveCPCaWhoverBCTrob-nav-tabs-toggleCPCliTactiveCPCaWfocusFbackground-color;
        //margin-top: -10px;
        color: $tabFTrob-nav-tabs-toggleCPCliTactiveCPCaBCTrob-nav-tabs-toggleCPCliTactiveCPCaWhoverBCTrob-nav-tabs-toggleCPCliTactiveCPCaWfocusFcolor;
        //background: #91ce3b;
        /* border: 1px solid #91ce3b;*/
        border-bottom: $tabFTrob-nav-tabs-toggleCPCliTactiveCPCaBCTrob-nav-tabs-toggleCPCliTactiveCPCaWhoverBCTrob-nav-tabs-toggleCPCliTactiveCPCaWfocusFborder-bottom;
        cursor: default;
        /*  padding: 20px 79px;*/
        //border-radius: 4px 4px 0 0;
      }
    }

  }
  span{

    float: left; padding: 23px 22px 20px;
    &:hover {
      cursor: pointer;
      color:  #35baff;
      //background:#91ce3b ;



    }}
  // pulling this in mainly for less shorthand
  &.response{
    > li {
      &:nth-last-child(2)
      {
        a{
          margin-right: 0;
          width: 100%;

        }
      }
      width: 10%;
      min-width: 79px;
      height: 10%;
      > a{
        padding: 20px  10%;
        min-width: 95px;
      }
      margin-left: 20px;

    }
    span{
      width: 2%;
      height: 100%;
      line-height: 100%;

    }
  }

}

// Pills
// -------------------------



// Stacked pills



// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------



// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs



// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`



// Dropdowns
// -------------------------

// Specific dropdowns





//hhhhhhhhhhhhhh



