@import "../../base/base";














.tab-content>.tab-pane{
  display: none;
}
.tab-content>.active{
  display: block;
}






// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.#{$cls-prefix}nav {
  margin-bottom: 0;
  padding-left: 100px; // Override default ul/ol
  list-style: none;
  @include clearfix;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;

      &:hover,
      &:focus {
        text-decoration: none;

      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {


      &:hover,
      &:focus {

        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  // Open dropdowns


  // Nav dividers (deprecated with v3.0.1)
  //
  // This should have been removed in v3 with the dropping of `.nav-list`, but
  // we missed it. We don't currently support this anywhere, but in the interest
  // of maintaining backward compatibility in case you use it, it's deprecated.


  // Prevent IE8 from misplacing imgs
  //
  // See https://github.com/h5bp/html5-boilerplate/issues/984#issuecomment-3985989
  > li > a > img {
    max-width: none;
  }
}


// Tabs
// -------------------------

// Give the tabs something to sit on









// Pills
// -------------------------



// Stacked pills



// Nav variations
// --------------------------------------------------

// Justified nav links
// -------------------------



// Move borders to anchors instead of bottom of list
//
// Mixin for adding on top the shared `.nav-justified` styles for our tabs



// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.rob-tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.rob-tab-scroll{
  width: 100%; overflow-x: auto
}


