<div class="main-wrapper">
    <div class="rob-row  rob-no-gutters">
        <div class="rob-col-lg-4 rob-col-md-4 rob-col-sm-6 rob-col-xs-24">
            <div class="rob-left-menu">
                <ul>
                    <li ui-sref-active="select-active" ui-sref="components.normalize">
                        <a href="">Normalize 样式统一</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.grid">
                        <a href="">Grid 网格</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.button">
                        <a href="">Button 按钮</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.table">
                        <a href="">Table 表格</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.form">
                        <a href="">From 表单</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.pagination">
                        <a href="">pagination 分页</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.label">
                        <a href="">label 标签</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.image">
                        <a href="">Image 图片</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.breadcrumb">
                        <a href="">breadcrumb 面包屑导航</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.alert">
                        <a href="">alert 弾层</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.loading">
                        <a href="">loading 加载</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.tooltip">
                        <a href="">tooltip 文字提示</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.collapse">
                        <a href="">collapse 折叠板</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.tab">
                        <a href="">tab 标签页</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.badge">
                        <a href="">badge 徽标数</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.steps">
                        <a href="">steps 步骤条</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.progress">
                        <a href="">progress 进度条</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.timeline">
                        <a href="">timeline 时间轴</a>
                    </li>
                      <li ui-sref-active="select-active" ui-sref="components.slider">
                        <a href="">slider 滑块</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.notification">
                        <a href="">notification 通知</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.rate">
                        <a href="">rate 评分</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.scrollbar">
                        <a href="">scrollbar 滚动条</a>
                    </li>
                     <li ui-sref-active="select-active" ui-sref="components.calendar">
                        <a href="">calendar 日历</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.icon">
                        <a href="">icon 图标</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.menu">
                        <a href="">menu 菜单</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.horizenmenu">
                        <a href="">horizen 菜单</a>
                    </li>
                    <li ui-sref-active="select-active" ui-sref="components.popover">
                        <a href="">popover 弹出框</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="rob-col-lg-20 rob-col-md-20 rob-col-sm-18 rob-col-xs-24">
            <div class="main-container">
                <div ui-view=""></div>
            </div>
        </div>
    </div>
</div>
