/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
.rob-btn-default, .rob-btn-default[disabled],
fieldset[disabled] .rob-btn-default {
  border-color: #d8d8d8;
  background-color: #d8d8d8;
  color: #fff; }
  .rob-btn-default:hover, .rob-btn-default:focus, .rob-btn-default[disabled]:hover, .rob-btn-default[disabled]:focus,
  fieldset[disabled] .rob-btn-default:hover,
  fieldset[disabled] .rob-btn-default:focus {
    border-color: #d8d8d8;
    background-color: #d8d8d8;
    color: #fff; }

.rob-btn-default {
  color: #fff;
  background-color: #35baff;
  border-color: #33aeed; }
  .rob-btn-default:focus, .rob-btn-default.focus {
    color: #fff;
    /* background-color: darken($background, 10%);
    border-color: darken($border, 25%); */
    background-color: #33aeed;
    border-color: #33aeed; }
  .rob-btn-default:hover {
    color: #FFF;
    background-color: #33aeed;
    border-color: #33aeed; }
  .rob-btn-default:active, .rob-btn-default.active,
  .open > .rob-btn-default.dropdown-toggle {
    color: #fff;
    background-color: #33aeed;
    border-color: #33aeed; }
    .rob-btn-default:active:hover, .rob-btn-default:active:focus, .rob-btn-default:active.focus, .rob-btn-default.active:hover, .rob-btn-default.active:focus, .rob-btn-default.active.focus,
    .open > .rob-btn-default.dropdown-toggle:hover,
    .open > .rob-btn-default.dropdown-toggle:focus,
    .open > .rob-btn-default.dropdown-toggle.focus {
      color: #FFF;
      /* background-color: darken($background, 17%);
      border-color: darken($border, 25%); */
      background-color: #33aeed;
      border-color: #33aeed; }
  .rob-btn-default:active, .rob-btn-default.active,
  .open > .rob-btn-default.dropdown-toggle {
    background-image: none; }
  .rob-btn-default .badge {
    color: #35baff;
    background-color: #fff; }
