/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
.rob-btn-success {
  color: #FFF;
  background-color: #4ad724;
  border-color: #4ad724; }
  .rob-btn-success:focus, .rob-btn-success.focus {
    color: #FFF;
    /* background-color: darken($background, 10%);
    border-color: darken($border, 25%); */
    background-color: #41c71d;
    border-color: #41c71d; }
  .rob-btn-success:hover {
    color: #FFF;
    background-color: #41c71d;
    border-color: #41c71d; }
  .rob-btn-success:active, .rob-btn-success.active,
  .open > .rob-btn-success.dropdown-toggle {
    color: #FFF;
    background-color: #41c71d;
    border-color: #41c71d; }
    .rob-btn-success:active:hover, .rob-btn-success:active:focus, .rob-btn-success:active.focus, .rob-btn-success.active:hover, .rob-btn-success.active:focus, .rob-btn-success.active.focus,
    .open > .rob-btn-success.dropdown-toggle:hover,
    .open > .rob-btn-success.dropdown-toggle:focus,
    .open > .rob-btn-success.dropdown-toggle.focus {
      color: #FFF;
      /* background-color: darken($background, 17%);
      border-color: darken($border, 25%); */
      background-color: #41c71d;
      border-color: #41c71d; }
  .rob-btn-success:active, .rob-btn-success.active,
  .open > .rob-btn-success.dropdown-toggle {
    background-image: none; }
  .rob-btn-success .badge {
    color: #4ad724;
    background-color: #FFF; }
  .rob-btn-success[disabled],
  fieldset[disabled] .rob-btn-success {
    border-color: #d8d8d8;
    background-color: #d8d8d8;
    color: #FFF; }
    .rob-btn-success[disabled]:hover, .rob-btn-success[disabled]:focus,
    fieldset[disabled] .rob-btn-success:hover,
    fieldset[disabled] .rob-btn-success:focus {
      border-color: #d8d8d8;
      background-color: #d8d8d8;
      color: #FFF; }
