/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
.rob-btn-icon-only {
  height: 40px;
  width: 40px;
  text-align: center;
  padding-left: 0;
  padding-right: 0; }
  .rob-btn-icon-only > i {
    text-align: center;
    margin-top: 2px;
    line-height: 26px; }
