<article class="markdown">
    <h1>badge 徽标数</h1>
    <section class="markdown">
        <p>
            图标右上角的圆形徽标数字。
        </p>
    </section>
    <section class="markdown">
        <h2 id="何时使用"><span>何时使用</span><a href="#何时使用" class="anchor">#</a></h2>
        <ul>
            <li>
                <p>
                    一般出现在通知图标或头像的右上角，用于显示需要处理的消息条数，通过醒目视觉形式吸引用户处理。                </p>
            </li>

        </ul>
        <h2 id="代码演示"><span>代码演示</span><a href="#代码演示" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo rob-grid">





                <h2>标签页列表常用徽标数</h2>
                    <span class="rob-badge-red" >99++++</span>
                    <span class=" rob-badge-white" >99++++</span>
                    <span class=" rob-badge-green" >99++++</span>

                <h2>状态徽标数</h2>
                    <span class="rob-badge-normal" ></span>
                    <span class="rob-badge-Warning" ></span>
                    <span class="rob-badge-remind" ></span>
                    <span class="rob-badge-success" ></span>
                    <span class="rob-badge-unavailable" ></span>

                <h2>图标徽标数带数量</h2>
                   <div class="rob-badge-bell">
                       <i class="rob-icon-bell"></i>
                       <span class="badge-bell-num" >11</span>
                   </div>
                    <h2>图标徽标数带状态</h2>
                   <div class="rob-badge-bell1"><i class="rob-icon-bell"></i><span class="badge-bell-remind" ></span></div>



                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                            徽标数
                        </a>
                    </div>
                    <p>
                    <div class="rob-table-responsive">
                    <table class="rob-table rob-table-hover rob-table-bordered">
                        <thead>
                        <tr>
                            <th> 名称</th>
                            <th> 序号</th>
                            <th> 效果</th>
                            <th> 所需类名</th>
                            <th> 定制所需类名</th>
                            <th> 备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> 标签页列表常用徽标数</td>
                            <td> 1</td>
                            <td> 红色</td>
                            <td>
                                <code class="language-markup">.rob-badge-red</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-red</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td> 标签页列表常用徽标数</td>
                            <td> 2</td>
                            <td> 白色</td>
                            <td>
                                <code class="language-markup">.rob-badge-white</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-white</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td>标签页列表常用徽标数</td>
                            <td> 3</td>
                            <td> 绿色</td>
                            <td>
                                <code class="language-markup">.rob-badge-green</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-green</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td>状态徽标数</td>
                            <td> 1</td>
                            <td> 正常</td>
                            <td>
                                <code class="language-markup">.rob-badge-normal</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-normal</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td> 状态徽标数</td>
                            <td> 2</td>
                            <td> 警示</td>
                            <td>
                                <code class="language-markup">.rob-badge-Warning</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-Warning</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td>状态徽标数</td>
                            <td> 3</td>
                            <td> 提示</td>
                            <td>
                                <code class="language-markup">.rob-badge-remind</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-remind</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td>状态徽标数</td>
                            <td> 4</td>
                            <td> 成功</td>
                            <td>
                                <code class="language-markup">.rob-badge-success</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-success</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td>状态徽标数</td>
                            <td> 5</td>
                            <td> 不可用</td>
                            <td>
                                <code class="language-markup">.rob-badge-unavailable</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-unavailable</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td>图标徽标数带数量</td>
                            <td> 1</td>
                            <td> 有图标显示数量</td>
                            <td>
                                <code class="language-markup">.rob-badge-unavailable</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-unavailable</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        <tr>
                            <td>图标徽标数带状态</td>
                            <td> 1</td>
                            <td> 有图标显示状态</td>
                            <td>
                                <code class="language-markup">.rob-badge-bell</code>


                            </td>
                            <td>
                                <code class="language-markup">badge-bell</code>


                            </td>
                            <td>
                                可选定制:
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                    </p>
                    <i class="rob-icon rob-icon-home code-show" ng-click="showCode('pagination')"></i>
                </section>
                <section class="code-box-content" id="pagination">
                    <pre>
<code class="language-markup">


    &lt;!--标签页列表常用徽标数-->
    &lt;span class="rob-badge-red" >99++++&lt;/span>
    &lt;span class=" rob-badge-white" >99++++&lt;/span>
    &lt;span class=" rob-badge-green" >99++++&lt;/span>

    &lt;!--状态徽标数-->
    &lt;span class="rob-badge-normal" >&lt;/span>
    &lt;span class="rob-badge-Warning" >&lt;/span>
    &lt;span class="rob-badge-remind" >&lt;/span>
    &lt;span class="rob-badge-success" >&lt;/span>
    &lt;span class="rob-badge-unavailable" >&lt;/span>

    &lt;!--图标徽标数带数量-->
    &lt;div class="rob-badge-bell">
        &lt;i class="rob-icon-bell">&lt;/i>
        &lt;span class="badge-bell-num" >11&lt;/span>
    &lt;/div>
    &lt;!--图标徽标数带状态-->
    &lt;div class="rob-badge-bell">&lt;i class="rob-icon-bell">&lt;/i>&lt;span class="badge-bell-remind" >&lt;/span>&lt;/div>
</code>
</pre>
                </section>
            </div>
        </div>
    </section>
</article>
