<article class="markdown">
    <h1>Progress 进度条</h1>
    <section class="markdown">
        <p>
            展示操作的当前进度。
        </p>
    </section>
    <section class="markdown">
        <h2 id="何时使用"><span>何时使用</span><a href="#何时使用" class="anchor">#</a></h2>
        <ul>
            <li>
                <p>
                    当一个操作会打断当前界面，或者需要在后台运行，且耗时可能超过2秒时；
                </p>
            </li>
            <li>
                <p>
                    当需要显示一个操作完成的百分比时。 </p>
            </li>
        </ul>
        <h2 id="代码演示"><span>代码演示</span><a href="#代码演示" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo">
                    <h2>进度条(外带百分比)</h2>
                    <div class="rob-progress ">
                        <div class="rob-progress-bar">
                            <div class="rob-progress-bar-outer">
                                <div class="rob-progress-bar-inner" style="width: 0%;">
                                </div>
                            </div>
                        </div>
                        <div class="rob-progress-text" >0%</div>
                    </div>
                    <br>
                    <div class="rob-progress ">
                        <div class="rob-progress-bar">
                            <div class="rob-progress-bar-outer">
                                <div class="rob-progress-bar-inner" style="width: 70%;">
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="rob-progress-text" >70%</div>
                    </div>
                    <br>
                    <h2>进度条(外带图标)</h2>
                    <div class="rob-progress  is-success">
                        <div class="rob-progress-bar">
                            <div class="rob-progress-bar-outer">
                                <div class="rob-progress-bar-inner" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                        <div class="rob-progress-text">
                            <i class="rob-icon rob-icon-home"></i></div>
                    </div>
                    <br>
                    <div class="rob-progress  is-exception">
                        <div class="rob-progress-bar">
                            <div class="rob-progress-bar-outer">
                                <div class="rob-progress-bar-inner" style="width: 73%;">
                                    <!---->
                                </div>
                            </div>
                        </div>
                        <div class="rob-progress-text">
                            <i class="rob-icon rob-icon-home"></i></div>
                    </div>
                    <h2>进度条(内带数字)</h2>
                    <div class="rob-progress  rob-progress-text-inside">
                        <div class="rob-progress-bar">
                            <div class="rob-progress-bar-outer">
                                <div class="rob-progress-bar-inner" style="width: 0%;">
                                    <div class="rob-progress-bar-innerText">0%</div>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                    <br>
                    <div class="rob-progress  rob-progress-text-inside">
                        <div class="rob-progress-bar">
                            <div class="rob-progress-bar-outer">
                                <div class="rob-progress-bar-inner" style="width: 70%;">
                                    <div class="rob-progress-bar-innerText">70%</div>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                    <br>
                    <div class="rob-progress  is-success rob-progress-text-inside">
                        <div class="rob-progress-bar">
                            <div class="rob-progress-bar-outer">
                                <div class="rob-progress-bar-inner" style="width: 100%;">
                                    <div class="rob-progress-bar-innerText">100%</div>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                    <br>
                    <div class="rob-progress  is-exception rob-progress-text-inside">
                        <div class="rob-progress-bar">
                            <div class="rob-progress-bar-outer">
                                <div class="rob-progress-bar-inner" style="width: 50%;">
                                    <div class="rob-progress-bar-innerText">50%</div>
                                </div>
                            </div>
                        </div>
                        <!---->
                    </div>
                    <h2>进度条(带动画)</h2>
                    <div class="rob-row text-center">
                        <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24">
                            <div class="rob-progress rob-progress-circle ">
                                <div id="circle" class="circle"></div>
                            </div>
                        </div>
                        <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24">
                            <div class="rob-progress rob-progress-circle ">
                                <div id="circle1" class="circle"></div>
                            </div>
                        </div>
                        <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24">
                            <div class="rob-progress rob-progress-circle ">
                                <div id="circle2" class="circle"></div>
                            </div>
                        </div>
                        <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24">
                            <div class="rob-progress rob-progress-circle is-exception">
                                <div id="circle3" class="circle"></div>
                            </div>
                        </div>
                        <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24">
                            <div class="rob-progress rob-progress-circle is-exception">
                                <div id="circle4" class="circle"></div>
                                <div class="rob-progress-text" style="font-size: 16px;"><i class="rob-icon rob-icon-home"></i></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                           进度条
                       </a>
                    </div>
                    <p>
                    <div class="rob-table-responsive">
                        <table class="rob-table rob-table-hover rob-table-bordered">
                            <thead>
                                <tr>
                                    <th> 名称</th>
                                    <th> 序号</th>
                                    <th> 效果</th>
                                    <th> 所需类名</th>
                                    <th> 定制所需类名</th>
                                    <th> 备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 进度条(外带百分比)</td>
                                    <td> 1</td>
                                    <td> 外带百分比(灰色)</td>
                                    <td>
                                        <code class="language-markup">.rob-progress</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 进度条(外带百分比)</td>
                                    <td> 2</td>
                                    <td> 外带百分比(蓝色)</td>
                                    <td>
                                        <code class="language-markup">.rob-progress</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(外带图标)</td>
                                    <td> 1</td>
                                    <td> 外带图标(绿色)</td>
                                    <td>
                                        <code class="language-markup">.rob-progress</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(外带图标)</td>
                                    <td> 2</td>
                                    <td> 外带图标(红色)</td>
                                    <td>
                                        <code class="language-markup">.rob-progress</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(内带数字)</td>
                                    <td> 1</td>
                                    <td> 内带数字(灰色)</td>
                                    <td>
                                        <code class="language-markup">.rob-progress</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(内带数字)</td>
                                    <td> 2</td>
                                    <td> 内带数字(蓝色)</td>
                                    <td>
                                        <code class="language-markup">.rob-progress</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(内带数字)</td>
                                    <td> 3</td>
                                    <td> 内带数字(绿色)</td>
                                    <td>
                                        <code class="language-markup">.rob-progress</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(内带数字)</td>
                                    <td> 4</td>
                                    <td> 内带数字(红色)</td>
                                    <td>
                                        <code class="language-markup">.rob-progress</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(带动画)</td>
                                    <td> 1</td>
                                    <td> 带动画</td>
                                    <td>
                                        <code class="language-markup">.rob-progress .rob-progress-circle</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(带动画)</td>
                                    <td> 2</td>
                                    <td> 带动画</td>
                                    <td>
                                        <code class="language-markup">.rob-progress .rob-progress-circle</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(带动画)</td>
                                    <td> 3</td>
                                    <td> 带动画</td>
                                    <td>
                                        <code class="language-markup">.rob-progress .rob-progress-circle</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(带动画)</td>
                                    <td> 4</td>
                                    <td> 带动画</td>
                                    <td>
                                        <code class="language-markup">.rob-progress .rob-progress-circle</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>进度条(带动画)</td>
                                    <td> 4</td>
                                    <td> 带动画有图标</td>
                                    <td>
                                        <code class="language-markup">.rob-progress .rob-progress-circle</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">progress</code>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </p>
                    <i class="rob-icon rob-icon-home code-show" ng-click="showCode('pagination')"></i>
                </section>
                <section class="code-box-content" id="pagination">
                    <pre>
<code class="language-markup">

    &lt;h2>进度条(外带百分比)&lt;/h2>
    &lt;div class="rob-progress ">
        &lt;div class="rob-progress-bar">
            &lt;div class="rob-progress-bar-outer" >
                &lt;div class="rob-progress-bar-inner" style="width: 0%;">

                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;div class="rob-progress-text" style="font-size: 14.4px;">0%&lt;/div>
    &lt;/div>
    &lt;br>
    &lt;div class="rob-progress ">
        &lt;div class="rob-progress-bar">
            &lt;div class="rob-progress-bar-outer" >
                &lt;div class="rob-progress-bar-inner" style="width: 70%;">
                    &lt;!---->
                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;div class="rob-progress-text" style="font-size: 14.4px;">70%&lt;/div>
    &lt;/div>
    &lt;br>


    &lt;h2>进度条(外带图标)&lt;/h2>


    &lt;div class="rob-progress  is-success">
        &lt;div class="rob-progress-bar">
            &lt;div class="rob-progress-bar-outer" >
                &lt;div class="rob-progress-bar-inner" style="width: 100%;">

                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;div class="rob-progress-text" style="font-size: 14.4px;">
            &lt;i class="rob-icon rob-icon-home">&lt;/i>&lt;/div>
    &lt;/div>
    &lt;br>
    &lt;div class="rob-progress  is-exception">
        &lt;div class="rob-progress-bar">
            &lt;div class="rob-progress-bar-outer" >
                &lt;div class="rob-progress-bar-inner" style="width: 73%;">
                    &lt;!---->
                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;div class="rob-progress-text" style="font-size: 14.4px;">
            &lt;i class="rob-icon rob-icon-home">&lt;/i>&lt;/div>
    &lt;/div>

    &lt;h2>进度条(内带数字)&lt;/h2>

    &lt;div class="rob-progress  rob-progress-text-inside">
        &lt;div class="rob-progress-bar">
            &lt;div class="rob-progress-bar-outer" style="height: 18px;">
                &lt;div class="rob-progress-bar-inner" style="width: 0%;">
                    &lt;div class="rob-progress-bar-innerText">0%&lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;!---->
    &lt;/div>
    &lt;br>
    &lt;div class="rob-progress  rob-progress-text-inside">
        &lt;div class="rob-progress-bar">
            &lt;div class="rob-progress-bar-outer" style="height: 18px;">
                &lt;div class="rob-progress-bar-inner" style="width: 70%;">
                    &lt;div class="rob-progress-bar-innerText">70%&lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;!---->
    &lt;/div>
    &lt;br>
    &lt;div class="rob-progress  is-success rob-progress-text-inside">
        &lt;div class="rob-progress-bar">
            &lt;div class="rob-progress-bar-outer" style="height: 18px;">
                &lt;div class="rob-progress-bar-inner" style="width: 100%;">
                    &lt;div class="rob-progress-bar-innerText">100%&lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;!---->
    &lt;/div>
    &lt;br>
    &lt;div class="rob-progress  is-exception rob-progress-text-inside">
        &lt;div class="rob-progress-bar">
            &lt;div class="rob-progress-bar-outer" style="height: 18px;">
                &lt;div class="rob-progress-bar-inner" style="width: 50%;">
                    &lt;div class="rob-progress-bar-innerText">50%&lt;/div>
                &lt;/div>
            &lt;/div>
        &lt;/div>
        &lt;!---->
    &lt;/div>

    &lt;h2>进度条(带动画)&lt;/h2>

    &lt;div class="rob-progress rob-progress-circle ">&lt;div id="circle" class="circle">&lt;/div>&lt;/div>
    &lt;div class="rob-progress rob-progress-circle ">&lt;div id="circle1" class="circle">&lt;/div>&lt;/div>
    &lt;div class="rob-progress rob-progress-circle ">&lt;div id="circle2" class="circle">&lt;/div>&lt;/div>
    &lt;div class="rob-progress rob-progress-circle is-exception">
        &lt;div id="circle3" class="circle">&lt;/div>&lt;/div>
    &lt;div class="rob-progress rob-progress-circle is-exception">
        &lt;div id="circle4" class="circle">&lt;/div>
        &lt;div class="rob-progress-text" style="font-size: 16px;">&lt;i class="rob-icon rob-icon-home">&lt;/i>&lt;/div>
    &lt;/div>
</code>
</pre>
                </section>
            </div>
        </div>
    </section>
</article>
