<article class="markdown">
    <h1>Modal 模态框</h1>
    <section class="markdown">
        <p>
            为任意 <code class="language-markup">&lt;table&gt;</code> 标签添加<code class="language-markup">.table </code>类可以为其赋予基本的样式
        </p>
    </section>
    <!--  <section class="markdown">
       <h2 id="何时使用"><span>何时使用</span><a href="#何时使用" class="anchor">#</a></h2>
       <ul>
           <li>
               <p>
                   数据导出显示,更加清晰格式化的看到数据展示
               </p>
           </li>
       </ul>
       <h2 id="代码演示"><span>代码演示</span><a href="#代码演示" class="anchor">#</a></h2>
   </section> -->

<section class="">
        <h2 id="默认的表格"><span>默认的表格</span><a href="#默认的表格" class="anchor">#</a></h2>
    </section>
   <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo">
                   Button trigger modal
<button type="button" class="rob-btn rob-btn-primary rob-btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
      

    <!-- $(function(){
                //注意：事件要绑定在UI容器上，而不是关闭按钮中 标签加上data-dismiss="alert
                $(".alert-block").on("close",function(){
                    alert("这是关闭前调用的")
                })
                $(".alert-block").on("closed",function(){
                    alert("这是关闭后调用的")
                })
            }) display:none;-->
       <!--  <div class="rob-alert-cover" style=""></div> -->
       <div class="rob-alert rob-alert-dismissible fade in rob-alert-sm" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
      </button>
      <div class="rob-alert-title">这是一个标题</div>
      <div class="rob-alert-content"><i class="rob-icon-quill"></i> 这是一段内容~</div>
      <div class="rob-alert-button">
        <button type="button" class="rob-btn rob-btn-default">确定</button>
       <!--  <button type="button" class="rob-btn rob-btn-default">取消</button> -->
      </div>
    </div>
        <script>

        </script>

        <!-- Modal -->
        <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="rob-btn rob-btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="rob-btn rob-btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                            默认的表格
                        </a>
                    </div>
                    <p>
                        只需为table标签添加 <code class="language-markup">.rob-table </code>类名就可以实现一个最基本的表格
                    </p>
                    <i class="rob-icon rob-icon-home code-show" ng-click="showCode('table-table')"></i>
                </section>
                <section class="code-box-content" id="table-table">
                    <pre>
        <code class="language-markup">
            &lt;table class="rob-table">
            
        </code>
        </pre>
                </section>
            </div>
        </div> -->
   
</article>
