/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
.rob-pagination-border-radius-circle > li a {
  border-radius: 50%;
  /*@include border-radius(0);*/ }

.rob-pagination-border-radius-circle > li:first-child > a,
.rob-pagination-border-radius-circle > li:first-child > span {
  border-radius: 50%;
  /* @include border-left-radius(0);*/ }

.rob-pagination-border-radius-circle > li:last-child > a,
.rob-pagination-border-radius-circle > li:last-child > span {
  border-radius: 50%;
  /*@include border-right-radius(0);*/ }

@media only screen and (max-width: 768px) {
  .rob-pagination-border-radius-circle > li a {
    margin: 0;
    padding: 5px 10px; }
  .rob-pagination-border-radius-circle > li > span {
    padding: 5px 10px; }
  .rob-pagination-border-radius-circle > li input {
    padding: 2px 4px; } }
