@import "../../base/base";
.#{$cls-prefix}sidebar-menu-2 {
  &.close {
    width: 45px;
    & > li {
      > a {
        text-align: center;
        > .title {
          display: none;
        }
      }
      > ul.sub-menu {
        left: 45px;
      }
    }
  }
  &.close-right {
    .sub-menu {
      width: 0 !important;
    }
  }
  height: 300px;
  width: 130px;
  background-color: $menuFTrob-sidebar-menu-2Fbackground-color;
  /*一级菜单背景颜色*/
  position: relative;
  a {
    /*li的公共样式*/
    display: block;
    position: relative;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: 300;
    border-bottom: 1px solid #3d4957;
    //color: #b4bcc8;
    > span.arrow {
      /*菜单的箭头样式（闭合状态）*/
      &.open {
        transform: rotate(180deg);
      }
      font-size: 12px;
      float: right;
      margin-top: -1px;
      transform: rotate(270deg);
    }
  }
  .selected {
    display: none;
    /*标识箭头隐藏*/
  }
  > li {
    .arrow {
      display: none;
      /*一级菜单箭头隐藏*/
    }
    > a {
      > .title {
        color: $menuFTrob-sidebar-menu-2CPCliCPCaCPCTtitleFcolor;
        /*一级菜单文字颜色*/
      }
      > i {
        color: $menuFTrob-sidebar-menu-2CPCliTactiveCPCaCPCiFcolor;
        /*一级菜单的icon颜色*/
      }
    }
    &:hover {
      > a {
        background-color: $menuFTrob-sidebar-menu-2CPCliWhoverCPCaFbackground-color;
        /*一级菜单hover颜色*/
      }
    }
    &.active {
      > a {
        background-color: $menuFTrob-sidebar-menu-2CPCliTactiveCPCaFbackground-color;
        /*一级菜单active背景颜色*/
        > .title {
          color: $menuFTrob-sidebar-menu-2CPCliTactiveCPCaCPCTtitleFcolor;
          /*一级菜单active文字颜色*/
        }
        > i {
          color: $menuFTrob-sidebar-menu-2CPCliTactiveCPCaCPCiFcolor;
          /*一级菜单active的icon颜色*/
        }
      }
    }
    &.open {
      > .sub-menu {
        width: 300px;
        position: absolute;
        top: 0;
        left: 130px;
        height: 100%;
        overflow: auto;
        -o-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        /*二级菜单显示*/
        > li {
          min-width: 300px;
          .arrow {
            display: block;
            /*一级菜单箭头隐藏*/
          }
          &.open {
            > .sub-menu {
              display: block;
              /*三级菜单显示*/
              > li {
                &:hover {
                  > a {
                    background-color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTopenCPCTsub-menuCPCliWhoverCPCaFbackground-color;
                    /*三级菜单hover的背景颜色*/
                  }
                }
                &.active {
                  > a {
                    background-color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTopenCPCTsub-menuCPCliTactiveCPCaFbackground-color;
                    /*三级菜单active的背景颜色*/
                    >.title {
                      color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTopenCPCTsub-menuCPCliTactiveCPCaCPCTtitleFcolor;
                      /*三级菜单active的文字颜色*/
                    }
                    > i {
                      color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTopenCPCTsub-menuCPCliTactiveCPCaCPCiFcolor;
                      /*三级菜单active的icon颜色*/
                    }
                  }
                }
                > a {
                  padding-left: 60px;
                  background-color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTopenCPCTsub-menuCPCliCPCaFbackground-color;
                  /*三级菜单背景颜色*/
                  >.title {
                    color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTopenCPCTsub-menuCPCliCPCaCPCTtitleFcolor;
                    /*三级菜单文字颜色 */
                  }
                  > i {
                    color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTopenCPCTsub-menuCPCliCPCaCPCiFcolor;
                    /*三级菜单icon颜色*/
                  }
                }
              }
            }
          }
          &:hover {
            > a {
              background-color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliWhoverCPCaFbackground-color;
              /*二级菜单hover的背景颜色*/
            }
          }
          &.active {
            > a {
              background-color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliCPCaCPCiFbackground-color;
              /*二级菜单active的背景颜色*/
              > .title {
                color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTactiveCPCaCPCTtitleFcolor;
                /*二级菜单active的文字颜色*/
              }
              > .arrow {
                color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTactiveCPCaCPCTarrowFcolor;
                /*二级菜单标识箭头的颜色*/
              }
              > i {
                color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliTactiveCPCaCPCiFcolor;
                /*二级菜单active的icon颜色*/
              }
            }
          }
          > a {
            > .title {
              color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliCPCaCPCTtitleFcolor;
              /*二级菜单文字颜色 */
            }
            > .arrow {
              color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliCPCaCPCTarrowFcolor;
              /*二级菜单标识箭头的颜色*/
            }
            > i {
              color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuCPCliCPCaCPCiFcolor;
              /*二级菜单icon颜色*/
            }
          }
        }
        display: block;
        background-color: $menuFTrob-sidebar-menu-2CPCliTopenCPCTsub-menuFbackground-color;
        /*二级菜单的背景颜色*/
      }
    }
  }
  .sub-menu {
    display: none;
    list-style-type: none;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .#{$cls-prefix}sidebar-menu-2 {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    > li {
      > .sub-menu {
        width: auto !important;
        position: static !important;
        > li {
          > a {
            padding-left: 45px;
          }
        }
      }
    }
  }
  .#{$cls-prefix}menu-icon-left{
    display: none;
  }
}

.#{$cls-prefix}sidebar-menu-2-open {
  position: absolute;
  right: -24%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 200;
  border-bottom: 0;
  a {
    border-bottom: 0;
  }
}

.#{$cls-prefix}sidebar-menu-2-closemenu {
  position: absolute;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 200;
  border-bottom: 0;
  &:hover > a {
    background-color: transparent;
  }
}

.#{$cls-prefix}sidebar-menu-close-noborder {
  border-bottom: none !important;
}



// 菜单icon
.#{$cls-prefix}menu-icon-left {
  .#{$cls-prefix}icon-menu-left,.#{$cls-prefix}icon-menu-right{
    display: none;
  }
  position: absolute;
  top: 50%;
  &.mini-icon-right {
    left: 45px;
    .#{$cls-prefix}icon-menu-right{
      display: block;
    }
  }

  &.md-icon-right {
    left: 130px;
    .#{$cls-prefix}icon-menu-right{
      display: block;
    }
  }
  &.icon-left {
    left: 250px;
    .#{$cls-prefix}icon-menu-left{
      display: block;
    }
  }
   &.mini-icon-left {
       left: 165px;
    .#{$cls-prefix}icon-menu-left{
      display: block;
    }
  }
}

.#{$cls-prefix}menu-icon-collapse {
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 50px;
  z-index: 3;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease
}

.#{$cls-prefix}menu-icon-collapse:hover .product-navbar-collapse {
  left: 0
}

.#{$cls-prefix}menu-icon-collapse:hover .product-navbar-collapse-bg {
  border-bottom: 8px solid transparent;
  border-left: 20px solid #D9DEE4;
  border-top: 8px solid transparent
}

.#{$cls-prefix}menu-icon-collapse .product-navbar-collapse-inner {
  top: -50%;
  position: relative;
  overflow: hidden;
}

.#{$cls-prefix}menu-icon-collapse .product-navbar-collapse {
  height: 50px;
  position: relative;
  left: -7px;
  text-align: center;
  cursor: pointer;
  -o-transition: all 0.1s ease, 0.1s ease;
  -ms-transition: all 0.1s ease, 0.1s ease;
  -moz-transition: all 0.1s ease, 0.1s ease;
  -webkit-transition: all 0.1s ease, 0.1s ease
}

.#{$cls-prefix}menu-icon-collapse .product-navbar-collapse>span {
  font-size: 15px;
  line-height: 50px;
  vertical-align: text-top
}

.#{$cls-prefix}menu-icon-collapse .product-navbar-collapse-bg {
  width: 0;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 9px solid transparent;
  border-left: 13px solid #D9DEE4;
  border-top: 9px solid transparent;
  -o-transition: all 0.1s ease, 0.1s ease;
  -ms-transition: all 0.1s ease, 0.1s ease;
  -moz-transition: all 0.1s ease, 0.1s ease;
  -webkit-transition: all 0.1s ease, 0.1s ease
}

.#{$cls-prefix}menu-icon-collapse .icon-collapse-left {
  display: none
}

.#{$cls-prefix}menu-icon-collapse .icon-collapse-right {
  display: inline
}

.icon-left .#{$cls-prefix}menu-icon-bg,.mini-icon-left .#{$cls-prefix}menu-icon-bg
.mini-icon-left .#{$cls-prefix}menu-icon,.icon-left .#{$cls-prefix}menu-icon {
  width: 180px;
}

.mini-icon-left .viewFramework-product-body,.icon-left .viewFramework-product-body {
  left: 180px
}

.mini-icon-left .#{$cls-prefix}menu-icon-collapse,.icon-left .#{$cls-prefix}menu-icon-collapse {
  left: 160px;
}

.mini-icon-left .#{$cls-prefix}menu-icon-collapse .product-navbar-collapse,.icon-left .#{$cls-prefix}menu-icon-collapse .product-navbar-collapse {
  right: -7px;
  left: auto;
}

.mini-icon-left .#{$cls-prefix}menu-icon-collapse .product-navbar-collapse>span,.icon-left .#{$cls-prefix}menu-icon-collapse .product-navbar-collapse>span {
  color: #546478
}

.mini-icon-left .#{$cls-prefix}menu-icon-collapse .product-navbar-collapse-bg,.icon-left .#{$cls-prefix}menu-icon-collapse .product-navbar-collapse-bg {
  right: 0;
  left: auto;
  border-bottom: 9px solid transparent;
  border-left: none;
  border-right: 13px solid #f7f7f7;
  border-top: 9px solid transparent
}

.mini-icon-left .#{$cls-prefix}menu-icon-collapse .icon-collapse-left,.icon-left .#{$cls-prefix}menu-icon-collapse .icon-collapse-left {
  display: inline
}

.mini-icon-left .#{$cls-prefix}menu-icon-collapse .icon-collapse-right,.icon-left .#{$cls-prefix}menu-icon-collapse .icon-collapse-right {
  display: none
}

.mini-icon-left .#{$cls-prefix}menu-icon-collapse:hover .product-navbar-collapse,.icon-left .#{$cls-prefix}menu-icon-collapse:hover .product-navbar-collapse {
  right: 0;
  left: auto
}

.mini-icon-left .#{$cls-prefix}menu-icon-collapse:hover .product-navbar-collapse-bg,.icon-left .#{$cls-prefix}menu-icon-collapse:hover .product-navbar-collapse-bg {
  border-bottom: 8px solid transparent;
  border-left: none;
  border-right: 20px solid #f7f7f7;
  border-top: 8px solid transparent
}
