/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
.rob-btn-danger.rob-btn-dashed {
  color: #f95a5a;
  background-color: #FFF;
  border-color: #f95a5a;
  border-style: dashed; }
  .rob-btn-danger.rob-btn-dashed:focus, .rob-btn-danger.rob-btn-dashed.focus {
    color: #f95a5a;
    /* background-color: darken($background, 10%);
    border-color: darken($border, 25%); */
    background-color: #f24444;
    border-color: #f24444; }
  .rob-btn-danger.rob-btn-dashed:hover {
    color: #FFF;
    background-color: #f24444;
    border-color: #f24444; }
  .rob-btn-danger.rob-btn-dashed:active, .rob-btn-danger.rob-btn-dashed.active,
  .open > .rob-btn-danger.rob-btn-dashed.dropdown-toggle {
    color: #f95a5a;
    background-color: #f24444;
    border-color: #f24444; }
    .rob-btn-danger.rob-btn-dashed:active:hover, .rob-btn-danger.rob-btn-dashed:active:focus, .rob-btn-danger.rob-btn-dashed:active.focus, .rob-btn-danger.rob-btn-dashed.active:hover, .rob-btn-danger.rob-btn-dashed.active:focus, .rob-btn-danger.rob-btn-dashed.active.focus,
    .open > .rob-btn-danger.rob-btn-dashed.dropdown-toggle:hover,
    .open > .rob-btn-danger.rob-btn-dashed.dropdown-toggle:focus,
    .open > .rob-btn-danger.rob-btn-dashed.dropdown-toggle.focus {
      color: #FFF;
      /* background-color: darken($background, 17%);
      border-color: darken($border, 25%); */
      background-color: #f24444;
      border-color: #f24444; }
  .rob-btn-danger.rob-btn-dashed:active, .rob-btn-danger.rob-btn-dashed.active,
  .open > .rob-btn-danger.rob-btn-dashed.dropdown-toggle {
    background-image: none; }
  .rob-btn-danger.rob-btn-dashed .badge {
    color: #FFF;
    background-color: #f95a5a; }
  .rob-btn-danger.rob-btn-dashed:focus, .rob-btn-danger.rob-btn-dashed.focus, .rob-btn-danger.rob-btn-dashed:active, .rob-btn-danger.rob-btn-dashed.active {
    color: #FFF; }
  .rob-btn-danger.rob-btn-dashed[disabled], .rob-btn-danger.rob-btn-dashed.disabled {
    border-color: #d8d8d8;
    background-color: #d8d8d8;
    color: #FFF; }
    .rob-btn-danger.rob-btn-dashed[disabled]:hover, .rob-btn-danger.rob-btn-dashed[disabled]:focus, .rob-btn-danger.rob-btn-dashed.disabled:hover, .rob-btn-danger.rob-btn-dashed.disabled:focus {
      border-color: #d8d8d8;
      background-color: #d8d8d8;
      color: #FFF; }
