@font-face {
  font-family: 'robot-icon';
  src:  url('../fonts/robot-icon.eot?q36wg4');
  src:  url('../fonts/robot-icon.eot?q36wg4#iefix') format('embedded-opentype'),
    url('../fonts/robot-icon.ttf?q36wg4') format('truetype'),
    url('../fonts/robot-icon.woff?q36wg4') format('woff'),
    url('../fonts/robot-icon.svg?q36wg4#robot-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mrob-icon-"], [class*=" mrob-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'robot-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mrob-icon-lending:before {
  content: "\e924";
}
.mrob-icon-card:before {
  content: "\e925";
}
.mrob-icon-caret-left:before {
  content: "\e93e";
}
.mrob-icon-caret-up:before {
  content: "\e93f";
}
.mrob-icon-download-alt:before {
  content: "\e940";
}
.mrob-icon-label:before {
  content: "\e941";
}
.mrob-icon-store:before {
  content: "\e942";
}
.mrob-icon-trash-alt:before {
  content: "\e943";
}
.mrob-icon-user-sign:before {
  content: "\e944";
}
.mrob-icon-volume:before {
  content: "\e945";
}
.mrob-icon-wallet:before {
  content: "\e946";
}
.mrob-icon-cny-square:before {
  content: "\e903";
}
.mrob-icon-id-card:before {
  content: "\e910";
}
.mrob-icon-lock:before {
  content: "\e926";
}
.mrob-icon-trash:before {
  content: "\e928";
}
.mrob-icon-cny-alt-o:before {
  content: "\e906";
}
.mrob-icon-home:before {
  content: "\e91e";
}
.mrob-icon-package:before {
  content: "\e937";
}
.mrob-icon-send:before {
  content: "\e939";
}
.mrob-icon-upload-alt:before {
  content: "\e93a";
}
.mrob-icon-upload:before {
  content: "\e93d";
}
.mrob-icon-bell:before {
  content: "\e900";
}
.mrob-icon-calendar:before {
  content: "\e901";
}
.mrob-icon-check:before {
  content: "\e902";
}
.mrob-icon-line-chart:before {
  content: "\e904";
}
.mrob-icon-menu-left:before {
  content: "\e905";
}
.mrob-icon-plus-alt:before {
  content: "\e907";
}
.mrob-icon-plus-square:before {
  content: "\e908";
}
.mrob-icon-plus:before {
  content: "\e909";
}
.mrob-icon-settings:before {
  content: "\e90a";
}
.mrob-icon-angle-down:before {
  content: "\e90b";
}
.mrob-icon-caret-down:before {
  content: "\e90c";
}
.mrob-icon-choose-alt:before {
  content: "\e90d";
}
.mrob-icon-choose-square:before {
  content: "\e90e";
}
.mrob-icon-close-alt:before {
  content: "\e90f";
}
.mrob-icon-code:before {
  content: "\e911";
}
.mrob-icon-contract:before {
  content: "\e912";
}
.mrob-icon-delete:before {
  content: "\e913";
}
.mrob-icon-edit-sign:before {
  content: "\e914";
}
.mrob-icon-edit:before {
  content: "\e915";
}
.mrob-icon-exchange:before {
  content: "\e916";
}
.mrob-icon-eye-close:before {
  content: "\e917";
}
.mrob-icon-eye-open:before {
  content: "\e918";
}
.mrob-icon-search-plus:before {
  content: "\e919";
}
.mrob-icon-text:before {
  content: "\e91a";
}
.mrob-icon-bar-chart-o:before {
  content: "\e91b";
}
.mrob-icon-bar-chart:before {
  content: "\e91c";
}
.mrob-icon-caret-right:before {
  content: "\e91d";
}
.mrob-icon-cny-alt:before {
  content: "\e91f";
}
.mrob-icon-exclamation-alt_1:before {
  content: "\e920";
}
.mrob-icon-exclamation-alt:before {
  content: "\e921";
}
.mrob-icon-finish:before {
  content: "\e922";
}
.mrob-icon-forbid:before {
  content: "\e923";
}
.mrob-icon-link:before {
  content: "\e927";
}
.mrob-icon-menu-right:before {
  content: "\e929";
}
.mrob-icon-pie-chart:before {
  content: "\e92a";
}
.mrob-icon-search:before {
  content: "\e92b";
}
.mrob-icon-signout:before {
  content: "\e92c";
}
.mrob-icon-angle-up:before {
  content: "\e92d";
}
.mrob-icon-chevron-left:before {
  content: "\e92e";
}
.mrob-icon-chevron-right:before {
  content: "\e92f";
}
.mrob-icon-double-chevron-left:before {
  content: "\e930";
}
.mrob-icon-double-chevron-right:before {
  content: "\e931";
}
.mrob-icon-download-sign:before {
  content: "\e932";
}
.mrob-icon-download:before {
  content: "\e933";
}
.mrob-icon-minus-square:before {
  content: "\e934";
}
.mrob-icon-safe_1:before {
  content: "\e935";
}
.mrob-icon-safe:before {
  content: "\e936";
}
.mrob-icon-star:before {
  content: "\e938";
}
.mrob-icon-user-alt:before {
  content: "\e93b";
}
.mrob-icon-user:before {
  content: "\e93c";
}

