<article class="markdown">
    <h1>Table 表格</h1>
    <section class="markdown">
        <p>
            为任意 <code class="language-markup">&lt;table&gt;</code> 标签添加<code class="language-markup">.table </code>类可以为其赋予基本的样式
        </p>
    </section>
    <!--  <section class="markdown">
       <h2 id="何时使用"><span>何时使用</span><a href="#何时使用" class="anchor">#</a></h2>
       <ul>
           <li>
               <p>
                   数据导出显示,更加清晰格式化的看到数据展示
               </p>
           </li>
       </ul>
       <h2 id="代码演示"><span>代码演示</span><a href="#代码演示" class="anchor">#</a></h2>
   </section> -->
    <section class="markdown">
        <h2 id="默认的表格"><span>基本实例</span><a href="#默认的表格" class="anchor">#</a></h2>
    </section>
    <div class="rob-col-lg-24">
        <div class="code-box">
            <section class="code-box-demo">
                <h3>基本表格</h3>
                <div class="rob-table-responsive">
                    <table class="rob-table">
                        <thead>
                            <tr>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3>斑马线</h3>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-striped">
                        <thead>
                            <tr>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3>垂直边框</h3>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-bordered-erect">
                        <thead>
                            <tr>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3>全边框</h3>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-bordered">
                        <thead>
                            <tr>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3>紧凑</h3>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-condensed">
                        <thead>
                            <tr>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="code-box-meta markdown">
                <div class="code-box-title">
                    <a href="">
                            基本实例
                        </a>
                </div>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-hover rob-table-bordered ">
                        <thead>
                            <tr>
                                <th> 名称</th>
                                <th> 序号</th>
                                <th> 效果</th>
                                <th> 所需类名</th>
                                <th> 定制所需</th>
                                <th> 备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>基本表格</td>
                                <td>1</td>
                                <td>基本表格</td>
                                <td><code class="language-markup">.rob-table-box</code>(表格滚动条)<code class="language-markup">.rob-table</code>(表格)
                                </td>
                                <td><code class="language-markup">table</code>(必要)</td>
                                <td> 可选定制：<code class=" language-markup">table-backgrounds</code>(tr行的状态修改) <code class=" language-markup">table-bordered-erect</code>(垂直边框) <code class=" language-markup">table-bordered</code>(全边框) <code class=" language-markup">table-condensed</code>(紧凑) <code class=" language-markup">table-hover</code>(悬浮) <code class=" language-markup">table-responsive</code>(响应式表格) <code class=" language-markup">table-striped</code>(斑马线)</td>
                            </tr>
                            <tr>
                                <td>斑马线</td>
                                <td>2</td>
                                <td>斑马线</td>
                                <td><code class="language-markup">.rob-table-box</code>(表格滚动条)<code class="language-markup">.rob-table</code>(表格) <code class="language-markup">.rob-table-striped</code>(表格隔行变色)</td>
                                <td><code class="language-markup">table</code>(必要) <code class="language-markup">table-striped</code>(斑马线)</td>
                                <td> 可选定制：<code class=" language-markup">table-backgrounds</code>(tr行的状态修改) <code class=" language-markup">table-bordered-erect</code>(垂直边框) <code class=" language-markup">table-bordered</code>(全边框) <code class=" language-markup">table-condensed</code>(紧凑) <code class=" language-markup">table-hover</code>(悬浮) <code class=" language-markup">table-responsive</code>(响应式表格)</td>
                            </tr>
                            <tr>
                                <td>垂直边框</td>
                                <td>3</td>
                                <td>垂直边框</td>
                                <td><code class="language-markup">.rob-table-box</code>(表格滚动条)<code class="language-markup">.rob-table</code>(表格) <code class="language-markup">.rob-table-bordered-erect</code>(垂直边框)</td>
                                <td><code class="language-markup">table</code>(必要) <code class="language-markup">table-bordered-erect</code>(垂直边框)</td>
                                <td> 可选定制：<code class=" language-markup">table-backgrounds</code>(tr行的状态修改) <code class=" language-markup">table-bordered</code>(全边框) <code class=" language-markup">table-condensed</code>(紧凑) <code class=" language-markup">table-hover</code>(悬浮) <code class=" language-markup">table-responsive</code>(响应式表格) <code class=" language-markup">table-striped</code>(斑马线)</td>
                            </tr>
                            <tr>
                                <td>全边框</td>
                                <td>4</td>
                                <td>全边框</td>
                                <td><code class="language-markup">.rob-table-box</code>(表格滚动条)<code class="language-markup">.rob-table</code>(表格) <code class="language-markup">.rob-table-bordered</code>(全边框)</td>
                                <td><code class="language-markup">table</code>(必要) <code class="language-markup">table-bordered</code>(全边框)</td>
                                <td> 可选定制：<code class=" language-markup">table-backgrounds</code>(tr行的状态修改) <code class=" language-markup">table-bordered-erect</code>(垂直边框) <code class=" language-markup">table-condensed</code>(紧凑) <code class=" language-markup">table-hover</code>(悬浮) <code class=" language-markup">table-responsive</code>(响应式表格) <code class=" language-markup">table-striped</code>(斑马线)</td>
                            </tr>
                            <tr>
                                <td>紧凑</td>
                                <td>5</td>
                                <td>紧凑</td>
                                <td><code class="language-markup">.rob-table-box</code>(表格滚动条)<code class="language-markup">.rob-table</code>(表格) <code class="language-markup">.rob-table-condensed</code>(紧凑)</td>
                                <td><code class="language-markup">table</code>(必要) <code class="language-markup">table-condensed</code>(紧凑)</td>
                                <td> 可选定制：<code class=" language-markup">table-backgrounds</code>(tr行的状态修改) <code class=" language-markup">table-bordered-erect</code>(垂直边框) <code class=" language-markup">table-bordered</code>(全边框) <code class=" language-markup">table-hover</code>(悬浮) <code class=" language-markup">table-responsive</code>(响应式表格) <code class=" language-markup">table-striped</code>(斑马线)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <i class="rob-icon rob-icon-home code-show" ng-click="showCode('table-table')"></i>
            </section>
            <section class="code-box-content" id="table-table">
                <pre>
        <code class="language-markup">


        &lt;h3>基本表格&lt;/h3>
        &lt;div class="rob-table-responsive">
        &lt;table class="rob-table">
            &lt;thead>
            &lt;tr>
                &lt;th> 序号&lt;/th>
                &lt;th> 姓名&lt;/th>
                &lt;th> 所属企业&lt;/th>
                &lt;th> 产品类型&lt;/th>
                &lt;th> 申请时间&lt;/th>
                &lt;th> 申请人&lt;/th>
                &lt;th> 操作&lt;/th>
            &lt;/tr>
            &lt;/thead>
            &lt;tbody>
            &lt;tr>
                &lt;td> 1&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 2&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 3&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
             &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;/tbody>
    &lt;/table>
    &lt;/div>


        &lt;h3>斑马线&lt;/h3>
    &lt;div class="rob-table-responsive">    
        &lt;table class="rob-table rob-table-striped">
            &lt;thead>
            &lt;tr>
                &lt;th> 序号&lt;/th>
                &lt;th> 姓名&lt;/th>
                &lt;th> 所属企业&lt;/th>
                &lt;th> 产品类型&lt;/th>
                &lt;th> 申请时间&lt;/th>
                &lt;th> 申请人&lt;/th>
                &lt;th> 操作&lt;/th>
            &lt;/tr>
            &lt;/thead>
            &lt;tbody>
            &lt;tr>
                &lt;td> 1&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 2&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 3&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
             &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;/tbody>
    &lt;/table>
    &lt;/div>


        &lt;h3>垂直边框&lt;/h3>
    &lt;div class="rob-table-responsive">
        &lt;table class="rob-table rob-table-bordered-erect">
            &lt;thead>
            &lt;tr>
                &lt;th> 序号&lt;/th>
                &lt;th> 姓名&lt;/th>
                &lt;th> 所属企业&lt;/th>
                &lt;th> 产品类型&lt;/th>
                &lt;th> 申请时间&lt;/th>
                &lt;th> 申请人&lt;/th>
                &lt;th> 操作&lt;/th>
            &lt;/tr>
            &lt;/thead>
            &lt;tbody>
            &lt;tr>
                &lt;td> 1&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 2&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 3&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
             &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;/tbody>
    &lt;/table>
 &lt;/div>


        &lt;h3>全边框&lt;/h3>
    &lt;div class="rob-table-responsive">
        &lt;table class="rob-table rob-table-bordered">
            &lt;thead>
            &lt;tr>
                &lt;th> 序号&lt;/th>
                &lt;th> 姓名&lt;/th>
                &lt;th> 所属企业&lt;/th>
                &lt;th> 产品类型&lt;/th>
                &lt;th> 申请时间&lt;/th>
                &lt;th> 申请人&lt;/th>
                &lt;th> 操作&lt;/th>
            &lt;/tr>
            &lt;/thead>
            &lt;tbody>
            &lt;tr>
                &lt;td> 1&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 2&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 3&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
             &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;/tbody>
    &lt;/table>
    &lt;/div>


        &lt;h3>紧凑&lt;/h3>
    &lt;div class="rob-table-responsive">
        &lt;table class="rob-table rob-table-condensed">
            &lt;thead>
            &lt;tr>
                &lt;th> 序号&lt;/th>
                &lt;th> 姓名&lt;/th>
                &lt;th> 所属企业&lt;/th>
                &lt;th> 产品类型&lt;/th>
                &lt;th> 申请时间&lt;/th>
                &lt;th> 申请人&lt;/th>
                &lt;th> 操作&lt;/th>
            &lt;/tr>
            &lt;/thead>
            &lt;tbody>
            &lt;tr>
                &lt;td> 1&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 2&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 3&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
             &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;/tbody>
    &lt;/table>
    &lt;/div>
        </code>
        </pre>
            </section>
        </div>
    </div>
    <section class="markdown">
        <h2 id="固定宽度表格"><span>响应式表格</span><a href="#固定宽度表格" class="anchor">#</a></h2>
    </section>
    <div class="rob-col-lg-24">
        <div class="code-box">
            <section class="code-box-demo">
                <div class="rob-table-responsive">
                    <table class="rob-table">
                        <thead>
                            <tr>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="code-box-meta markdown">
                <div class="code-box-title">
                    <a href="">
                            响应式表格
                        </a>
                </div>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-hover rob-table-bordered">
                        <thead>
                            <tr>
                                <th> 名称</th>
                                <th> 序号</th>
                                <th> 效果</th>
                                <th> 所需类名</th>
                                <th> 定制所需</th>
                                <th> 备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>响应式表格</td>
                                <td>1</td>
                                <td>响应式表格</td>
                                <td><code class="language-markup">.rob-table</code>(表格) <code class="language-markup">.rob-table-responsive</code>(响应式表格)</td>
                                <td><code class="language-markup">table</code>(必要) <code class="language-markup">table-responsive</code>(响应式表格)</td>
                                <td>只需为table标签添加一个父标签里加上类名
                                    <code class="language-markup">.rob-table-responsive</code> 如:<code class="language-markup">&lt;div class="rob-table-responsive"></code> 可选定制：
                                    <code class=" language-markup">table-backgrounds</code>(tr行的状态修改) <code class=" language-markup">table-bordered-erect</code>(垂直边框) <code class=" language-markup">table-bordered</code>(全边框) <code class=" language-markup">table-condensed</code>(紧凑) <code class=" language-markup">table-hover</code>(悬浮) <code class=" language-markup">table-responsive</code>(响应式表格) <code class=" language-markup">table-striped</code>(斑马线)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <i class="rob-icon rob-icon-home code-show" ng-click="showCode('rob-table-responsive')"></i>
            </section>
            <section class="code-box-content" id="rob-table-responsive">
                <pre>
        <code class="language-markup">
          &lt;div class="rob-table-responsive">
            &lt;table class="rob-table">
            &lt;thead>
            &lt;tr>
                &lt;th> 序号&lt;/th>
                &lt;th> 姓名&lt;/th>
                &lt;th> 所属企业&lt;/th>
                &lt;th> 产品类型&lt;/th>
                &lt;th> 申请时间&lt;/th>
                &lt;th> 申请人&lt;/th>
                &lt;th> 操作&lt;/th>
            &lt;/tr>
            &lt;/thead>
            &lt;tbody>
            &lt;tr>
                &lt;td> 1&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 2&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 3&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
             &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;/tbody>
          &lt;/table>
    &lt;/div>    
        </code>
        </pre>
            </section>
        </div>
    </div>
    <section class="markdown">
        <h2 id="多级表头"><span>多级表头</span><a href="#多级表头" class="anchor">#</a></h2>
    </section>
    <div class="rob-col-lg-24">
        <div class="code-box">
            <section class="code-box-demo">
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-striped rob-table-hover rob-table-bordered-erect">
                        <thead>
                            <tr>
                                <th colspan="7"> 表格</th>
                            </tr>
                            <tr>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 2</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="code-box-meta markdown">
                <div class="code-box-title">
                    <a href="">
                            多级表头
                        </a>
                </div>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-hover rob-table-bordered">
                        <thead>
                            <tr>
                                <th> 名称</th>
                                <th> 序号</th>
                                <th> 效果</th>
                                <th> 所需类名</th>
                                <th> 定制所需</th>
                                <th> 备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>多级表头</td>
                                <td>1</td>
                                <td>多级表头</td>
                                <td><code class="language-markup">.rob-table-box</code>(表格滚动条)<code class="language-markup">.rob-table</code>(表格)<code class="language-markup">.colspan</code>(垂直合并)</td>
                                <td><code class="language-markup">table</code>(必要) </td>
                                <td>只需为thead标签里多添加一个<code class="language-markup">&lt;tr&gt;</code><code class="language-markup">&lt;th&gt;</code>标签 新加的
                                    <code class="language-markup">&lt;th&gt;</code> 标签里加上一个属性<code class="language-markup">.colspan="7"</code>占满水平所有格子如<code class="language-markup">&lt;th colspan="7"&gt;</code> 可选定制：
                                    <code class="language-markup">table</code>(必要) <code class="language-markup">table-responsive</code>(响应式表格)<code class=" language-markup">table-backgrounds</code>(tr行的状态修改) <code class=" language-markup">table-bordered-erect</code>(垂直边框) <code class=" language-markup">table-bordered</code>(全边框) <code class=" language-markup">table-condensed</code>(紧凑) <code class=" language-markup">table-hover</code>(悬浮) <code class=" language-markup">table-responsive</code>(响应式表格) <code class=" language-markup">table-striped</code>(斑马线)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <i class="rob-icon rob-icon-home code-show" ng-click="showCode('rob-table-thead')"></i>
            </section>
            <section class="code-box-content" id="rob-table-thead">
                <pre>
        <code class="language-markup">
          &lt;div class="rob-table-responsive">
            &lt;table class="rob-table rob-table-striped rob-table-hover rob-table-bordered-erect">
            &lt;thead>
              &lt;tr>
                 &lt;th colspan="7"> 表格 &lt;/th>
              &lt;/tr>
            &lt;tr>
                &lt;th> 序号&lt;/th>
                &lt;th> 姓名&lt;/th>
                &lt;th> 所属企业&lt;/th>
                &lt;th> 产品类型&lt;/th>
                &lt;th> 申请时间&lt;/th>
                &lt;th> 申请人&lt;/th>
                &lt;th> 操作&lt;/th>
            &lt;/tr>
            &lt;/thead>
            &lt;tbody>
            &lt;tr>
                &lt;td> 1&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 2&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 3&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
             &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;/tbody>
         &lt;/table>
        &lt;/div>
        </code>
        </pre>
            </section>
        </div>
    </div>
    <section class="markdown">
        <h2 id="表格行/列合并"><span>表格行/列合并</span><a href="#表格行/列合并" class="anchor">#</a></h2>
    </section>
    <div class="rob-col-lg-24">
        <div class="code-box">
            <section class="code-box-demo">
                <div class="rob-table-responsive">
                    <table class="rob-table ">
                        <thead>
                            <tr>
                                <th> 序号</th>
                                <th> 姓名</th>
                                <th> 所属企业</th>
                                <th> 产品类型</th>
                                <th> 申请时间</th>
                                <th> 申请人</th>
                                <th> 操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1</td>
                                <td rowspan="3"> 垂直合并三个单元格</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 2</td>
                                <td colspan="2"> 水平占两个单元格</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                            <tr>
                                <td> 3</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td> Table cell</td>
                                <td><i class="rob-icon-home"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="code-box-meta markdown">
                <div class="code-box-title">
                    <a href="">
                            表格行/列合并
                        </a>
                </div>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-hover rob-table-bordered">
                        <thead>
                            <tr>
                                <th> 名称</th>
                                <th> 序号</th>
                                <th> 效果</th>
                                <th> 所需类名</th>
                                <th> 定制所需</th>
                                <th> 备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>表格行/列合并</td>
                                <td>1</td>
                                <td>表格行/列合并</td>
                                <td><code class="language-markup">.rob-table-box</code>(表格滚动条)<code class="language-markup">.rob-table</code>(表格)<code class="language-markup">.colspan</code>(垂直合并) <code class="language-markup">.rowspan</code>(水平合并)</td>
                                <td><code class="language-markup">table</code>(必要) </td>
                                <td>只需为td标签添加 <code class="language-markup">.colspan="x（水平合并）" </code>或<code class="language-markup">.rowspan="x（垂直合并）" </code>的类名就可以实现单元格合并 可选定制：
                                    <code class="language-markup">table</code>(必要) <code class="language-markup">table-responsive</code>(响应式表格)<code class=" language-markup">table-backgrounds</code>(tr行的状态修改) <code class=" language-markup">table-bordered-erect</code>(垂直边框) <code class=" language-markup">table-bordered</code>(全边框) <code class=" language-markup">table-condensed</code>(紧凑) <code class=" language-markup">table-hover</code>(悬浮) <code class=" language-markup">table-responsive</code>(响应式表格) <code class=" language-markup">table-striped</code>(斑马线)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <i class="rob-icon rob-icon-home code-show" ng-click="showCode('table-merge')"></i>
            </section>
            <section class="code-box-content" id="table-merge">
                <pre>
        <code class="language-markup">
          &lt;div class="rob-table-responsive">
            &lt;table class="rob-table rob-table-striped rob-table-hover rob-table-bordered">
            &lt;thead>
            &lt;tr>
                &lt;th> 序号&lt;/th>
                &lt;th> 姓名&lt;/th>
                &lt;th> 所属企业&lt;/th>
                &lt;th> 产品类型&lt;/th>
                &lt;th> 申请时间&lt;/th>
                &lt;th> 申请人&lt;/th>
                &lt;th> 操作&lt;/th>
            &lt;/tr>
            &lt;/thead>
            &lt;tbody>
            &lt;tr>
                &lt;td> 1&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 2&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;tr>
                &lt;td> 3&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
                &lt;td> Table cell&lt;/td>
             &lt;td>&lt;i class="rob-icon-home">&lt;/i>&lt;/td>
            &lt;/tr>
            &lt;/tbody>
    &lt;/table>
    &lt;div>
        
        </code>
        </pre>
            </section>
        </div>
    </div>
</article>
