/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
.rob-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 6px; }
  .rob-popover.top {
    margin-top: -10px; }
  .rob-popover.right {
    margin-left: 10px; }
  .rob-popover.bottom {
    margin-top: 10px; }
  .rob-popover.left {
    margin-left: -10px; }

.rob-popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0; }

.rob-popover-content {
  padding: 9px 14px; }

.rob-popover > .arrow, .rob-popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.rob-popover > .arrow {
  border-width: 10px; }

.rob-popover > .arrow:after {
  border-width: 10px;
  content: ""; }

.rob-popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  bottom: -11px; }
  .rob-popover.top > .arrow:after {
    content: " ";
    bottom: 1px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff; }

.rob-popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999; }
  .rob-popover.right > .arrow:after {
    content: " ";
    left: 1px;
    bottom: -10px;
    border-left-width: 0;
    border-right-color: #fff; }

.rob-popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  top: -11px; }
  .rob-popover.bottom > .arrow:after {
    content: " ";
    top: 1px;
    margin-left: -10px;
    border-top-width: 0;
    border-bottom-color: #fff; }

.rob-popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999; }
  .rob-popover.left > .arrow:after {
    content: " ";
    right: 1px;
    border-right-width: 0;
    border-left-color: #fff;
    bottom: -10px; }
