* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: '微软雅黑', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #7f7f7f;
}

::-moz-placeholder {
  color: #7f7f7f;
}

::-moz-placeholder {
  color: #7f7f7f;
}

::-ms-input-placeholder {
  color: #7f7f7f;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}
