<article class="markdown">
    <h1>Tooltip 文字提示</h1>
    <section class="markdown">
        <p>
            悬停在下面的按钮看到提示
        </p>
    </section>
    <section class="markdown">
        <h2 id="实例"><span>实例</span><a href="#实例" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo">

            
                    <div class="button-box">
                    <div class="rob-row text-center">
                        <div class="rob-col-lg-6 rob-col-md-6 rob-col-xs-24 rob-col-sm-24">
                    
                        <div >
                            <button type="button" data-toggle="rob-tooltip" data-placement="top" title="上侧的 Tooltip"  class="rob-btn rob-btn-default">上边</button>
                        </div>
                        </div>
                        <div class="rob-col-lg-6 rob-col-md-6 rob-col-xs-24 rob-col-sm-24">
                        <div>
                            <button type="button" data-toggle="rob-tooltip" data-placement="left" title="左侧的 Tooltip" class="rob-btn rob-btn-default">左边</button>
                        </div>
                        </div>
                        <div class="rob-col-lg-6 rob-col-md-6 rob-col-xs-24 rob-col-sm-24">
                        <div >
                            <button type="button" data-toggle="rob-tooltip" data-placement="right" title="右侧的 Tooltip" class="rob-btn rob-btn-default">右边</button>
                        </div>
                        </div>
                        <div class="rob-col-lg-6 rob-col-md-6 rob-col-xs-24 rob-col-sm-24">
                        <div >
                            <button type="button" data-toggle="rob-tooltip" data-placement="bottom" title="下侧的 Tooltip" class="rob-btn rob-btn-default">下边</button>
                        </div>
                        </div>
                        </div>
                    </div>

                    <!-- <div class="rob-tooltip is-dark" style="position: absolute; top: 4px; left: 104px; transform-origin: left center 0px; z-index: 2030;" x-placement="bottom-start">Left Top 提示文字
                        <div x-arrow="" class="rob-tooltip-arrow" style="left: 12px;"></div>
                    </div>
                    <div class="rob-tooltip is-dark" style="position: absolute; top: 6px; left: 314px; transform-origin: center bottom 0px; z-index: 2031;" x-placement="bottom">Top Center 提示文字
                        <div x-arrow="" class="rob-tooltip-arrow" style="left: 22px;"></div>
                    </div> -->
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                           文字提示
                       </a>
                    </div>
                    <p>
                        有四个选项：顶部，右，底部和左对齐。
                    </p>
                <i class="rob-icon rob-icon-home code-show" ng-click="showCode('tooltip')"></i>
                </section>
                <section class="code-box-content" id="tooltip">
                    <pre>
<code class="language-markup">

        &lt;!-- 上侧的 Tooltip -->
        &lt;div class="button-top">
            &lt;button type="button" data-toggle="tooltip" data-placement="top" title="上侧的 Tooltip"  class="rob-btn rob-btn-default">上边&lt;/button>
        &lt;/div>

        &lt;!-- 左侧的 Tooltip -->
        &lt;div class="button-left">
            &lt;button type="button" data-toggle="tooltip" data-placement="left" title="左侧的 Tooltip" class="rob-btn rob-btn-default">左边&lt;/button>
        &lt;/div>

        &lt;!-- 右侧的 Tooltip -->
        &lt;div class="button-right">
            &lt;button type="button" data-toggle="tooltip" data-placement="right" title="右侧的 Tooltip" class="rob-btn rob-btn-default">右边&lt;/button>
        &lt;/div>

        &lt;!-- 下侧的 Tooltip -->
        &lt;div class="button-bottom">
            &lt;button type="button" data-toggle="tooltip" data-placement="bottom" title="下侧的 Tooltip" class="rob-btn rob-btn-default">下边&lt;/button>
        &lt;/div>
</code>
</pre>
                </section>
            </div>
        </div>
    </section>
</article>
