<article class="markdown">
    <h1>标签</h1>
    <section class="markdown">
        <p>
            进行标记和分类的小标签。
        </p>
    </section>
    <section class="markdown">
        <h2 id=""><span></span><a href="#何时使用" class="">何时使用#</a></h2>
        <ul>
            <li>
                <p>
                    用于标记事物的属性和维度。
                </p>
            </li>
            <li>
                <p>
                    进行分类。 </p>
            </li>
        </ul>
        <h2 id="代码演示"><span>基本实例</span><a href="#代码演示" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo rob-grid">
                    <div class="col-md-12 col-sm-12 bd-solid">
                        <h2>标签</h2>
                        <span class="rob-label rob-label-one ">标签一</span>
                        <span class="rob-label rob-label-two ">标签二</span>
                        <span class="rob-label rob-label-three">标签三</span>
                        <span class="rob-label rob-label-four">标签四</span>
                    </div>
                    <div class="col-md-12 col-sm-12 bd-solid">
                        <h2>标签hover有下划线</h2>
                        <span class="rob-label rob-label-one rob-label-hover-underline">标签一</span>
                        <span class="rob-label rob-label-two rob-label-hover-underline">标签二</span>
                        <span class="rob-label rob-label-three rob-label-hover-underline">标签三</span>
                        <span class="rob-label rob-label-four rob-label-hover-underline">标签四</span>
                    </div>
                    <div class="col-md-12 col-sm-12 bd-solid ">
                        <h2>标签带图标</h2>
                        <span class="rob-label rob-label-one ">标签一 <i class="rob-icon-home"></i></span>
                        <span class="rob-label rob-label-two ">标签二 <i class="rob-icon-home"></i></span>
                        <span class="rob-label rob-label-three">标签三 <i class="rob-icon-home"></i></span>
                        <span class="rob-label rob-label-four">标签四 <i class="rob-icon-home"></i></span>
                    </div>
                    <div class="col-md-12 col-sm-12 bd-solid">
                        <h2>用来标记的标签</h2>
                        <span class="rob-label rob-label-five">标签五</span>
                    </div>
                    <div class="col-md-12 col-sm-12 bd-solid">
                        <h2>添加标签样式</h2>
                        <input class="rob-label-six" type="text" value="+ aaaa" />
                    </div>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                           标签类型
                        </a>
                    </div>
                    <p>
                        <div class="rob-table-responsive">
                            <table class="rob-table rob-table-hover rob-table-bordered">
                                <thead>
                                    <tr>
                                        <th> 名称</th>
                                        <th> 序号</th>
                                        <th> 效果</th>
                                        <th> 所需类名</th>
                                        <th> 定制所需类名</th>
                                        <th> 备注</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td> 标签一(蓝色)</td>
                                        <td> 1</td>
                                        <td> 蓝色</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-one</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-one</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 标签二(白色)</td>
                                        <td> 2</td>
                                        <td> 白色</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-two</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-two</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>标签三(深灰)</td>
                                        <td> 3</td>
                                        <td> 深灰</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-three</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-three</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>标签四(浅灰)</td>
                                        <td> 4</td>
                                        <td> 浅灰</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-four</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-four</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 标签一(带图标蓝色)</td>
                                        <td> 1</td>
                                        <td> 带图标蓝色</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-one</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-one</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 标签二(带图标白色)</td>
                                        <td> 2</td>
                                        <td> 带图标白色</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-two</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-two</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 标签三(带图标深灰)</td>
                                        <td> 3</td>
                                        <td> 带图标深灰</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-three</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-three</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 标签四(带图标浅灰)</td>
                                        <td> 4</td>
                                        <td> 带图标浅灰</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-four</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-four</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 标签五(标记用的标签)</td>
                                        <td> 1</td>
                                        <td> 标记用的标签</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-five</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-five</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> 标签六(添加标签)</td>
                                        <td> 1</td>
                                        <td> 添加标签</td>
                                        <td>
                                            <code class="language-markup">.rob-label</code>
                                            <code class="language-markup">.rob-label-six</code>
                                        </td>
                                        <td>
                                            <code class="language-markup">label</code>
                                            <code class="language-markup">label-six</code>
                                        </td>
                                        <td>
                                            可选定制:rob-label-hover-underline(hover下划线)
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </p>
                    <i class="rob-icon rob-icon-home code-show" ng-click="showCode('pagination')"></i>
                </section>
                <section class="code-box-content" id="pagination">
                    <pre>
<code class="language-markup">


        &lt;h2>基本样式&lt;/h2>
        &lt;span class="rob-label rob-label-one ">标签一&lt;/span>
        &lt;span class="rob-label rob-label-two ">标签二&lt;/span>
        &lt;span class="rob-label rob-label-three">标签三&lt;/span>
        &lt;span class="rob-label rob-label-four">标签四&lt;/span>




        &lt;h2>基本样式hover有下划线&lt;/h2>
        &lt;span class="rob-label rob-label-one rob-label-hover-underline">标签一&lt;/span>
        &lt;span class="rob-label rob-label-two rob-label-hover-underline">标签二&lt;/span>
        &lt;span class="rob-label rob-label-three rob-label-hover-underline">标签三&lt;/span>
        &lt;span class="rob-label rob-label-four rob-label-hover-underline">标签四&lt;/span>




        &lt;h2>基本样式带图标&lt;/h2>
        &lt;span class="rob-label rob-label-one ">标签一 &lt;i class="rob-icon-home">&lt;/i>&lt;/span>
        &lt;span class="rob-label rob-label-two ">标签二 &lt;i class="rob-icon-home">&lt;/i>&lt;/span>
        &lt;span class="rob-label rob-label-three">标签三 &lt;i class="rob-icon-home">&lt;/i>&lt;/span>
        &lt;span class="rob-label rob-label-four">标签四 &lt;i class="rob-icon-home">&lt;/i>&lt;/span>



        &lt;h2>标记&lt;/h2>

        &lt;span class="rob-label rob-label-five">标签五&lt;/span>



        &lt;h2>添加图标样式&lt;/h2>

        &lt;input class="rob-label-six" type="text" value="+ aaaa"/>



</code>
</pre>
                </section>
            </div>
        </div>
    </section>
    <section class="markdown">
        <h2 id="代码演示"><span>效果：hover下划线</span><a href="#代码演示" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo rob-grid">
                    <div class="col-md-12 col-sm-12 bd-solid">
                        <h2>标签hover有下划线</h2>
                        <span class="rob-label rob-label-one rob-label-hover-underline">标签一</span>
                        <span class="rob-label rob-label-two rob-label-hover-underline">标签二</span>
                        <span class="rob-label rob-label-three rob-label-hover-underline">标签三</span>
                        <span class="rob-label rob-label-four rob-label-hover-underline">标签四</span>
                    </div>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                            标签类型
                        </a>
                    </div>
                    <p>
                    <div class="rob-table-responsive">
                        <table class="rob-table rob-table-hover rob-table-bordered">
                            <thead>
                                <tr>
                                    <th> 名称</th>
                                    <th> 序号</th>
                                    <th> 效果</th>
                                    <th> 所需类名</th>
                                    <th> 定制所需类名</th>
                                    <th> 备注</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 标签一(蓝色)</td>
                                    <td> 1</td>
                                    <td> 蓝色</td>
                                    <td>
                                        <code class="language-markup">.rob-label</code>
                                        <code class="language-markup">.rob-label-one</code>
                                        <code class="language-markup">.rob-label-hover-underline</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">label</code>
                                        <code class="language-markup">label-one</code>
                                        <code class="language-markup">label-hover-underline</code>
                                    </td>
                                    <td>
                                        可选定制:rob-label-hover-underline(hover下划线)
                                    </td>
                                </tr>
                                <tr>
                                    <td> 标签二(白色)</td>
                                    <td> 2</td>
                                    <td> 白色</td>
                                    <td>
                                        <code class="language-markup">.rob-label</code>
                                        <code class="language-markup">.rob-label-two</code>
                                        <code class="language-markup">.rob-label-hover-underline</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">label</code>
                                        <code class="language-markup">label-two</code>
                                        <code class="language-markup">label-hover-underline</code>
                                    </td>
                                    <td>
                                        可选定制:rob-label-hover-underline(hover下划线)
                                    </td>
                                </tr>
                                <tr>
                                    <td>标签三(深灰)</td>
                                    <td> 3</td>
                                    <td> 深灰</td>
                                    <td>
                                        <code class="language-markup">.rob-label</code>
                                        <code class="language-markup">.rob-label-three</code>
                                        <code class="language-markup">.rob-label-hover-underline</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">label</code>
                                        <code class="language-markup">label-three</code>
                                        <code class="language-markup">label-hover-underline</code>
                                    </td>
                                    <td>
                                        可选定制:rob-label-hover-underline(hover下划线)
                                    </td>
                                </tr>
                                <tr>
                                    <td>标签四(浅灰)</td>
                                    <td> 4</td>
                                    <td> 浅灰</td>
                                    <td>
                                        <code class="language-markup">.rob-label</code>
                                        <code class="language-markup">.rob-label-four</code>
                                        <code class="language-markup">.rob-label-hover-underline</code>
                                    </td>
                                    <td>
                                        <code class="language-markup">label</code>
                                        <code class="language-markup">label-four</code>
                                        <code class="language-markup">label-hover-underline</code>
                                    </td>
                                    <td>
                                        可选定制:rob-label-hover-underline(hover下划线)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </p>
                    <i class="rob-icon rob-icon-home code-show" ng-click="showCode('pagination')"></i>
                </section>
                <section class="code-box-content" id="pagination">
                    <pre>
<code class="language-markup">


    &lt;h2>基本样式&lt;/h2>
    &lt;span class="rob-label rob-label-one ">标签一&lt;/span>
    &lt;span class="rob-label rob-label-two ">标签二&lt;/span>
    &lt;span class="rob-label rob-label-three">标签三&lt;/span>
    &lt;span class="rob-label rob-label-four">标签四&lt;/span>




    &lt;h2>基本样式hover有下划线&lt;/h2>
    &lt;span class="rob-label rob-label-one rob-label-hover-underline">标签一&lt;/span>
    &lt;span class="rob-label rob-label-two rob-label-hover-underline">标签二&lt;/span>
    &lt;span class="rob-label rob-label-three rob-label-hover-underline">标签三&lt;/span>
    &lt;span class="rob-label rob-label-four rob-label-hover-underline">标签四&lt;/span>




    &lt;h2>基本样式带图标&lt;/h2>
    &lt;span class="rob-label rob-label-one ">标签一 &lt;i class="rob-icon-home">&lt;/i>&lt;/span>
    &lt;span class="rob-label rob-label-two ">标签二 &lt;i class="rob-icon-home">&lt;/i>&lt;/span>
    &lt;span class="rob-label rob-label-three">标签三 &lt;i class="rob-icon-home">&lt;/i>&lt;/span>
    &lt;span class="rob-label rob-label-four">标签四 &lt;i class="rob-icon-home">&lt;/i>&lt;/span>



    &lt;h2>标记&lt;/h2>

    &lt;span class="rob-label rob-label-five">标签五&lt;/span>



    &lt;h2>添加图标样式&lt;/h2>

    &lt;input class="rob-label-six" type="text" value="+ aaaa"/>



</code>
</pre>
                </section>
            </div>
        </div>
    </section>
</article>
