/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
.rob-calendar-body-wrapper {
  position: relative; }

.rob-calendar-panel {
  position: absolute;
  width: 260px;
  color: #48576a;
  box-shadow: 0 2px 6px #ccc;
  background: #fff;
  line-height: 20px;
  margin: 5px 0;
  border-radius: 2px;
  border: 1px solid #d1dbe5; }
  .rob-calendar-panel.has-sidebar {
    min-width: 370px; }
  .rob-calendar-panel .rob-calendar-panel-sidebar {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 110px;
    border-right: 1px solid #e4e4e4;
    box-sizing: border-box;
    padding-top: 6px;
    background-color: #fbfdff; }
    .rob-calendar-panel .rob-calendar-panel-sidebar + .rob-calendar-panel-body {
      margin-left: 110px; }
    .rob-calendar-panel .rob-calendar-panel-sidebar.calendar-hide-sidebar {
      display: none; }
    .rob-calendar-panel .rob-calendar-panel-sidebar.calendar-hide-sidebar + .rob-calendar-panel-body {
      margin-left: 0px; }
    .rob-calendar-panel .rob-calendar-panel-sidebar .rob-calendar-panel-sideba-btn {
      display: block;
      width: 100%;
      border: 0;
      background-color: transparent;
      line-height: 28px;
      font-size: 14px;
      color: #48576a;
      padding-left: 12px;
      text-align: left;
      outline: none;
      cursor: pointer; }
      .rob-calendar-panel .rob-calendar-panel-sidebar .rob-calendar-panel-sideba-btn:hover {
        background-color: #e4e8f1; }
  .rob-calendar-panel .rob-calendar-header {
    padding: 12px;
    text-align: center; }
    .rob-calendar-panel .rob-calendar-header .rob-calendar-icon {
      font-size: 12px;
      color: #97a8be;
      border: 0;
      background: transparent;
      cursor: pointer;
      outline: none;
      padding: 0px 6px; }
      .rob-calendar-panel .rob-calendar-header .rob-calendar-icon:hover {
        color: #cc1216; }
    .rob-calendar-panel .rob-calendar-header .rob-calendar-prev {
      display: inline-block;
      float: left; }
    .rob-calendar-panel .rob-calendar-header .rob-calendar-next {
      display: inline-block;
      float: right; }
    .rob-calendar-panel .rob-calendar-header .rob-calendar-header-label {
      font-size: 14px;
      padding: 0 5px;
      line-height: 22px;
      text-align: center;
      cursor: pointer; }
      .rob-calendar-panel .rob-calendar-header .rob-calendar-header-label:hover, .rob-calendar-panel .rob-calendar-header .rob-calendar-header-label.active {
        color: #cc1216; }
  .rob-calendar-panel .rob-calendar-content {
    position: relative;
    margin: 5px 15px 15px; }
    .rob-calendar-panel .rob-calendar-content table {
      border: none;
      width: 100%;
      table-layout: fixed;
      font-size: 12px;
      min-width: 224px;
      -webkit-user-select: none;
      user-select: none; }
    .rob-calendar-panel .rob-calendar-content th {
      padding: 5px;
      color: #8391a5;
      display: table-cell;
      vertical-align: inherit;
      font-weight: 400; }
    .rob-calendar-panel .rob-calendar-content td {
      width: 32px;
      height: 32px;
      box-sizing: border-box;
      text-align: center;
      cursor: pointer; }
      .rob-calendar-panel .rob-calendar-content td.today {
        color: #20a0ff;
        position: relative; }
        .rob-calendar-panel .rob-calendar-content td.today:before {
          content: " ";
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 0;
          border-top: 0.5em solid #cc1216;
          border-left: .5em solid transparent; }
      .rob-calendar-panel .rob-calendar-content td.next-month {
        color: #ddd; }
      .rob-calendar-panel .rob-calendar-content td.prev-month {
        color: #ddd; }
  .rob-calendar-panel .rob-calendar-panel-footer {
    border-top: 1px solid #e4e4e4;
    text-align: right;
    background-color: #fff;
    position: relative; }
    .rob-calendar-panel .rob-calendar-panel-footer .rob-calendar-panel-footer-link {
      cursor: pointer;
      color: #393939;
      text-decoration: none;
      padding: 8px 15px;
      font-size: 12px;
      display: inline-block;
      width: 25%;
      text-align: center;
      border-right: 1px solid #e4e4e4; }
      .rob-calendar-panel .rob-calendar-panel-footer .rob-calendar-panel-footer-link:hover {
        color: #49a9ee;
        background: #e4e4e4; }
      .rob-calendar-panel .rob-calendar-panel-footer .rob-calendar-panel-footer-link:last-child {
        border-right: none; }
    .rob-calendar-panel .rob-calendar-panel-footer .rob-calendar-panel-footer-btn {
      border: 1px solid #dcdcdc;
      color: #333;
      line-height: 24px;
      border-radius: 2px;
      cursor: pointer;
      background-color: transparent;
      outline: none;
      font-size: 12px;
      margin-right: 10px;
      padding: 3px 20px; }
      .rob-calendar-panel .rob-calendar-panel-footer .rob-calendar-panel-footer-btn:last-child {
        margin-right: 0px; }
  .rob-calendar-panel .rob-date-table td.current:not(.disabled) {
    background-color: #cc1612 !important;
    color: #fff; }
  .rob-calendar-panel .rob-date-table td.disabled {
    background-color: #f4f4f4;
    opacity: 1;
    cursor: not-allowed;
    color: #ccc; }
  .rob-calendar-panel .rob-date-table td.available:not(.disabled):hover {
    background-color: #e4e8f1; }
  .rob-calendar-panel .rob-month-table {
    font-size: 12px;
    margin: -1px;
    border-collapse: collapse; }
    .rob-calendar-panel .rob-month-table td {
      text-align: center;
      padding: 20px 3px;
      cursor: pointer; }
      .rob-calendar-panel .rob-month-table td .cell {
        width: 48px;
        height: 32px;
        display: block;
        line-height: 32px;
        color: #48576a; }
        .rob-calendar-panel .rob-month-table td .cell:hover {
          background-color: #e4e8f1; }
      .rob-calendar-panel .rob-month-table td.disabled .cell {
        background-color: #f4f4f4;
        cursor: not-allowed;
        color: #ccc; }
      .rob-calendar-panel .rob-month-table td.current:not(.disabled) .cell {
        background-color: #cc1216 !important;
        color: #fff; }
  .rob-calendar-panel .rob-year-table {
    font-size: 12px;
    margin: -1px;
    border-collapse: collapse; }
    .rob-calendar-panel .rob-year-table td {
      text-align: center;
      padding: 20px 3px;
      cursor: pointer; }
      .rob-calendar-panel .rob-year-table td .cell {
        width: 48px;
        height: 32px;
        display: block;
        line-height: 32px;
        color: #48576a; }
      .rob-calendar-panel .rob-year-table td.current:not(.disabled) .cell {
        background-color: #cc1216 !important;
        color: #fff; }
      .rob-calendar-panel .rob-year-table td.disabled .cell {
        background-color: #f4f4f4;
        cursor: not-allowed;
        color: #f4f4f4; }
      .rob-calendar-panel .rob-year-table td .cell:hover {
        background-color: #e4e8f1; }
  .rob-calendar-panel .rob-calendar-time-header {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px;
    padding: 8px 5px 5px;
    display: table;
    width: 100%;
    box-sizing: border-box; }
    .rob-calendar-panel .rob-calendar-time-header .time-header-sapn {
      position: relative;
      display: table-cell;
      padding: 0px; }
      .rob-calendar-panel .rob-calendar-time-header .time-header-sapn input {
        height: 30px;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        border: 0px solid #bfcbd9;
        box-sizing: border-box;
        color: #1f2d3d;
        display: block;
        font-size: inherit;
        line-height: 1;
        outline: none;
        padding: 3px 8px;
        transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        width: 100%; }
      .rob-calendar-panel .rob-calendar-time-header .time-header-sapn:before {
        content: ":";
        line-height: 30px;
        position: absolute; }
      .rob-calendar-panel .rob-calendar-time-header .time-header-sapn:first-child:before {
        content: "";
        line-height: 30px;
        position: absolute; }

@media only screen and (max-width: 768px) and (min-width: 0) {
  .rob-calendar-panel .rob-calendar-panel-footer .rob-calendar-panel-footer-link {
    padding: 8px 12px; }
  .rob-calendar-panel .rob-calendar-content table {
    min-width: 190px; }
  .rob-calendar-panel.has-sidebar {
    width: 190px; }
  .rob-calendar-panel .rob-calendar-panel-sidebar {
    width: 70px; }
  .rob-calendar-panel {
    left: 50% !important;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%); }
  .rob-calendar-panel .rob-calendar-panel-sidebar + .rob-calendar-panel-body {
    margin-left: 70px; }
  .rob-calendar-panel.has-sidebar {
    min-width: 290px; } }
