<article class="markdown">
    <h1>Image 图片</h1>
    <section class="markdown">
        <p>
            通过为 <code class="language-markup">&lt;img&gt;</code> 标签元素添加以下相应的类，可以让图片呈现不同的形状。
        </p>
    </section>
    <section class="markdown">
        <h2 id="图片形状"><span>基本实例</span><a href="#图片形状" class="anchor">#</a></h2>
    </section>
    <div class="rob-col-lg-24">
        <!-- 中图展示 -->
        <div class="rob-images-lg-box-bg"></div>
        <div class=44"rob-images-box-lg">
            <div class="rob-images-screen-box">
            <span>
                <i class="rob-icon-download-alt"></i>
            </span>
                <span class="error">
            <i class="rob-icon-delete"></i>
            </span>
                <span class="success">
            <i class="rob-icon-delete"></i>
            </span>
            </div>
            <!-- rob-images-box-lg -->
            <a class="rob-images-lg-close" title="关闭">×</a>
            <div class="rob-images-box">
                <div class="rob-images-setting">
                    <ul class="clearfix">
                        <li class="rob-images-setting-item">
                            <span>
                    <a href="">
                    <i class="rob-icon-upload"></i>收起
                    </a>
                       </span>
                        </li>
                        <li class="rob-images-setting-item">
                            <span>
                    <a href="">
                    <i class="rob-icon-search"></i>查看大图
                    </a>
                       </span>
                        </li>
                        <li class="rob-images-setting-item">
                            <span>
                    <a href="">
                    <i class="rob-icon-home"></i>向左旋转
                    </a>
                       </span>
                        </li>
                        <li class="rob-images-setting-item">
                            <span>
                    <a href="">
                    <i class="rob-icon-home"></i>向右旋转
                    </a>
                       </span>
                        </li>
                    </ul>
                </div>
                <div class="rob-images-view leftcursor">
                    <div class="rob-images-prev"><a href=""><i class="rob-icon-angle-down"></i></a></div>
                    <div class="rob-images-next"><a href=""><i class="rob-icon-angle-down"></i></a></div>
                    <img class="clearfix" src="http://wx2.sinaimg.cn/mw690/005RfIqdly1fgmuwevtirj30sg0sgk0m.jpg">
                </div>
                <div class="rob-images-choose">
                    <div class="rob-images-prev"><a href=""><i class="rob-icon-angle-down"></i></a></div>
                    <div class="rob-images-next"><a href=""><i class="rob-icon-angle-down"></i></a></div>
                    <div class="rob-images-mini-list">
                        <ul class="clearfix" style="width:600px;margin-left: 30px;">
                            <li class="current">
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                                 <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                                 <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                                 <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                                 <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                                 <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>     <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>     <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>     <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>     <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>     <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>     <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>     <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>     <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://a1.qpic.cn/psb?/V10NQyQI0t1jpO/ROnKbdH5KYUrb*sl6XL5uVKUpBQ.62zqktjeDZ5oDfw!/a/dKAAAAAAAAAA&bo=gAKAAgAAAAAFACM!&rf=viewer_0&t=5">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 中图展示完成 -->
        <div class="code-box">
            <h3 style="padding-left: 50px;">图片</h3>
            <section class="code-box-demo code-box-demo-img" style="border-bottom:0;">
                <div class="rob-row text-center">
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24">
                        <h4>矩形：</h4>
                        <img src="assets/images/demo2.png" alt="..." class="">
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24">
                        <h4>圆角：</h4>
                        <img src="assets/images/demo2.png" alt="..." class="rob-img-rounded">
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24">
                        <h4>全圆：</h4>
                        <img src="assets/images/demo1.png" alt="..." class="rob-img-circle">
                    </div>
                </div>
            </section>
            <h3 style="padding-left: 50px;">矩形：相框图片</h3>
            <section class="code-box-demo code-box-demo-img" style="border-bottom:0;">
                <div class="rob-row text-center" id="auto-loop" class="gallery">
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-darken">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-shoal">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-position" style="padding-top: 5px;">
                            <img src="assets/images/demo3.jpg" alt="...">
                            <div class="rob-img-hover-text">
                                <span class="rob-img-hover-text-title">标题</span>
                                <span class="rob-img-hover-text-content">哈哈呵呵喔喔噢噢恩恩嘿嘿</span>
                            </div>
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-position rob-img-div-border">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight">
                            <img src="assets/images/jiaobiao.png" alt="" class="rob-img-superscript rob-img-highlight" style="box-shadow: none;">
                        </div>
                    </div>
                </div>
            </section>
            <h3 style="padding-left: 50px;">圆角：圆角相框图片</h3>
            <section class="code-box-demo code-box-demo-img" style="border-bottom:0;">
                <div class="rob-row text-center" id="auto-loop1" class="gallery">
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border rob-img-div-border-radius">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-darken rob-img-rounded ">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border rob-img-div-border-radius">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight rob-img-rounded ">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border rob-img-div-border-radius">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-shoal rob-img-rounded ">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-position" style="padding-top: 5px;">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-rounded">
                            <div class="rob-img-hover-text">
                                <span class="rob-img-hover-text-title">标题</span>
                                <span class="rob-img-hover-text-content">哈哈呵呵喔喔噢噢恩恩嘿嘿</span>
                            </div>
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-position rob-img-div-border rob-img-div-border-radius">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-rounded rob-img-border rob-img-highlight">
                            <img src="assets/images/jiaobiao.png" alt="" class="rob-img-superscript rob-img-highlight" style="box-shadow: none;">
                        </div>
                    </div>
                </div>
            </section>
            <h3 style="padding-left: 50px;">全圆：全圆相框图片</h3>
            <section class="code-box-demo code-box-demo-img" style="border-bottom:0;">
                <div class="rob-row text-center" id="auto-loop2" class="gallery">
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border rob-img-div-border-circle">
                            <img src="assets/images/demo4.jpg" alt="..." class="rob-img-border rob-img-darken rob-img-circle ">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border rob-img-div-border-circle">
                            <img src="assets/images/demo4.jpg" alt="..." class="rob-img-border rob-img-highlight rob-img-circle ">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-border rob-img-div-border-circle">
                            <img src="assets/images/demo4.jpg" alt="..." class="rob-img-border rob-img-shoal rob-img-circle ">
                        </div>
                    </div>
                    <div class="rob-col-lg-8 rob-col-md-8 img-demo rob-col-xs-24 rob-col-sm-24" data-src="assets/images/demo3.jpg">
                        <div class="rob-img-div-position">
                            <img src="assets/images/demo4.jpg" alt="..." class="rob-img-circle">
                            <div class="rob-img-hover-text">
                                <span class="rob-img-hover-text-title">标题</span>
                                <span class="rob-img-hover-text-content">哈哈呵呵喔喔噢噢恩恩嘿嘿</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h3 style="padding-left: 50px;">图片组</h3>
            <section class="code-box-demo code-box-demo-img">
                <div class="rob-row ">
                    <div class="rob-col-lg-24 rob-col-md-24 img-demo rob-col-xs-24 rob-col-sm-24" id="auto-loop2" class="gallery">
                        <div class="rob-img-div-border" data-src="http://pic11.nipic.com/20101214/213291_155243023914_2.jpg">
                            <img src="http://pic11.nipic.com/20101214/213291_155243023914_2.jpg" alt="..." class="rob-img-border rob-img-darken">
                        </div>
                        <div class="rob-img-div-border" data-src="assets/images/demo3.jpg">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight">
                        </div>
                        <div class="rob-img-div-border" data-src="assets/images/demo3.jpg">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-shoal">
                        </div>
                        <div class="rob-img-div-border" data-src="assets/images/demo3.jpg">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight">
                        </div>
                        <div class="rob-img-div-border" data-src="assets/images/demo3.jpg">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-shoal">
                        </div>
                        <div class="rob-img-div-border" data-src="assets/images/demo3.jpg">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight">
                        </div>
                        <div class="rob-img-div-border" data-src="assets/images/demo3.jpg">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-shoal">
                        </div>
                        <div class="rob-img-div-border" data-src="assets/images/demo3.jpg">
                            <img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight">
                        </div>
                    </div>
                </div>
            </section>
            <section class="code-box-meta markdown">
                <div class="code-box-title">
                    <a href="">
                            基本实例
                        </a>
                </div>
                <div class="rob-table-responsive">
                    <table class="rob-table rob-table-hover rob-table-bordered">
                        <thead>
                            <tr>
                                <th> 名称</th>
                                <th> 序号</th>
                                <th> 效果</th>
                                <th> 所需类名</th>
                                <th> 所需定制</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>图片</td>
                                <td>1</td>
                                <td>默认</td>
                                <td>无</td>
                                <td><code class="language-markup">image</code>(必要)</td>
                                <td>可选定制：<code class="language-markup">img-rounded</code>(图片圆角) <code class="language-markup">img-circle</code>(完全圆图片)</td>
                            </tr>
                            <tr>
                                <td>图片</td>
                                <td>2</td>
                                <td>圆角</td>
                                <td><code class="language-markup">.rob-img-rounded</code>(圆角)</td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-rounded</code>(图片圆角)</td>
                                <td>圆角图片</td>
                            </tr>
                            <tr>
                                <td>图片</td>
                                <td>3</td>
                                <td>全圆</td>
                                <td><code class="language-markup">img-circle</code>(完全圆图片)</td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-circle</code>(完全圆图片)</td>
                                <td>全圆图片</td>
                            </tr>
                            <tr>
                                <td>相框图片</td>
                                <td> 4</td>
                                <td> 悬停后颜色加深</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-darken</code>(图片变深)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(图片外层div的边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-darken</code>(图片变深)</td>
                                <td>相框图片 悬停后颜色加深</td>
                            </tr>
                            <tr>
                                <td>相框图片</td>
                                <td> 5</td>
                                <td> 悬停后图片高亮</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-highlight</code>(图片高亮)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(图片外层div的边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-highlight</code>(图片高亮)</td>
                                <td>相框图片 悬停后图片高亮</td>
                            </tr>
                            <tr>
                                <td>相框图片</td>
                                <td> 6</td>
                                <td> 悬停后颜色变浅</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-shoal</code>(图片变浅)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(图片外层div的边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-shoal</code>(图片变浅)</td>
                                <td>相框图片 悬停后图片变浅</td>
                            </tr>
                            <tr>
                                <td>相框图片</td>
                                <td> 7</td>
                                <td> 悬停后文字提示</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-position</code>(外层定位)
                                    <code class="language-markup">.rob-img-hover-text</code>(提示标题)
                                    <code class="language-markup">.rob-img-hover-text-content</code>(提示内容)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-position</code>(图片外层div相对定位) <code class="language-markup">img-hover-text</code>(图片hover之后文字)</td>
                                <td>相框图片 悬停后文字提示</td>
                            </tr>
                            <tr>
                                <td>相框图片</td>
                                <td> 8</td>
                                <td> 相框图片悬停后高亮，角标</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-position</code>(外层定位)
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-highlight</code>(图片高亮)
                                    <code class="language-markup">.rob-img-superscript(角标位置)</code></td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-position</code>(图片外层div相对定位) <code class="language-markup">img-div-border</code>(图片外层div的边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-highlight</code>(图片高亮) <code class="language-markup">img-superscript</code>(图片角标定位)</td>
                                <td>相框图片 悬停后高亮，角标</td>
                            </tr>
                            <tr>
                                <td>圆角相框图片</td>
                                <td> 9</td>
                                <td> 悬停后颜色加深</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-div-border-radius</code>(外层边框圆角)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-darken</code>(图片变深)
                                    <code class="language-markup">.rob-img-rounded</code>(图片圆角)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(外层边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-darken</code>(图片变深) <code class="language-markup">img-rounded</code>(图片圆角) </td>
                                <td>圆角相框图片 悬停后颜色加深</td>
                            </tr>
                            <tr>
                                <td>圆角相框图片</td>
                                <td> 10</td>
                                <td> 悬停后图片高亮</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-div-border-radius</code>(外层边框圆角)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-rounded</code>(图片圆角)
                                    <code class="language-markup">.rob-img-highlight</code>(图片高亮)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(外层边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-highlight</code>(图片高亮) <code class="language-markup">img-rounded</code>(图片圆角) </td>
                                <td>圆角相框图片 悬停后图片高亮</td>
                            </tr>
                            <tr>
                                <td>圆角相框图片</td>
                                <td> 11</td>
                                <td> 悬停后颜色变浅</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-div-border-radius</code>(外层边框圆角)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-rounded</code>(图片圆角)
                                    <code class="language-markup">.rob-img-shoal</code>(图片变浅)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(外层边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-shoal</code>(图片变浅) <code class="language-markup">img-rounded</code>(图片圆角) </td>
                                <td>圆角相框图片 悬停后颜色变浅</td>
                            </tr>
                            <tr>
                                <td>圆角相框图片</td>
                                <td>12</td>
                                <td> 悬停后文字提示</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-position</code>(外层定位)
                                    <code class="language-markup">.rob-img-hover-text</code>(提示标题)
                                    <code class="language-markup">.rob-img-rounded</code>(图片圆角)
                                    <code class="language-markup">.rob-img-hover-text-content</code>(提示内容)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-position</code>(外层定位) <code class="language-markup">img-hover-text</code>(图片hover之后文字) <code class="language-markup">img-rounded</code>(图片圆角) </td>
                                <td>圆角相框图片 悬停后文字提示</td>
                            </tr>
                            <tr>
                                <td>圆角相框图片</td>
                                <td> 13</td>
                                <td> 悬停后高亮，角标</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-position</code>(外层定位)
                                    <code class="language-markup">.rob-img-div-border-radius</code>(外层边框圆角)
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-highlight</code>(图片透明度)
                                    <code class="language-markup">.rob-img-rounded</code>(图片圆角)
                                    <code class="language-markup">.rob-img-superscript</code>(角标位置)</td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-position</code>(图片外层div相对定位) <code class="language-markup">img-div-border</code>(图片外层div的边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-highlight</code>(图片高亮) <code class="language-markup">img-superscript</code>(图片角标定位)<code class="language-markup">img-rounded</code>(图片圆角)</td>
                                <td>圆角相框图片 悬停后高亮，角标</td>
                            </tr>
                            <tr>
                                <td>全圆相框图片</td>
                                <td> 14</td>
                                <td> 悬停后颜色加深</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-div-border-circle</code>(外层边框圆)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-darken</code>(图片变深)
                                    <code class="language-markup">.rob-img-circle</code>(图片圆)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(外层边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-darken</code>(图片变深) <code class="language-markup">img-circle</code>(完全圆图片) </td>
                                <td>全圆相框图片 悬停后颜色加深</td>
                            </tr>
                            <tr>
                                <td>全圆相框图片</td>
                                <td> 15</td>
                                <td> 悬停后图片高亮</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-div-border-circle</code>(外层边框圆)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-circle</code>(图片圆)
                                    <code class="language-markup">.rob-img-highlight</code>(图片高亮)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(外层边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-highlight</code>(图片高亮) <code class="language-markup">img-circle</code>(完全圆图片) </td>
                                <td>全圆相框图片 悬停后图片高亮</td>
                            </tr>
                            <tr>
                                <td>全圆相框图片</td>
                                <td> 16</td>
                                <td> 悬停后颜色变浅</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-border</code>(外层边框)
                                    <code class="language-markup">.rob-img-div-border-circle</code>(外层边框圆)
                                    <code class="language-markup">.rob-img-border</code>(图片边框)
                                    <code class="language-markup">.rob-img-circle</code>(图片圆)
                                    <code class="language-markup">.rob-img-shoal</code>(图片变浅)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-border</code>(外层边框) <code class="language-markup">img-border</code>(图片边框) <code class="language-markup">img-shoal</code>(图片变浅) <code class="language-markup">img-circle</code>(完全圆图片) </td>
                                <td>全圆相框图片 悬停后颜色变浅</td>
                            </tr>
                            <tr>
                                <td>全圆相框图片</td>
                                <td> 17</td>
                                <td> 悬停后文字提示</td>
                                <td>
                                    <code class="language-markup">.rob-img-div-position</code>(外层定位)
                                    <code class="language-markup">.rob-img-hover-text</code>(提示标题)
                                    <code class="language-markup">.rrob-img-circle</code>(图片圆)
                                    <code class="language-markup">.rob-img-hover-text-content</code>(提示内容)
                                </td>
                                <td><code class="language-markup">image</code>(必要) <code class="language-markup">img-div-position</code>(外层定位) <code class="language-markup">img-hover-text</code>(图片hover之后文字) <code class="language-markup">img-circle</code>(完全圆图片) </td>
                                <td>全圆相框图片 悬停后文字提示</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <i class="rob-icon rob-icon-home code-show" ng-click="showCode('rob-from')"></i>
            </section>
            <section class="code-box-content" id="rob-from">
                <pre>
        <code class="language-markup">
    &lt;!-- 默认图片 -->
    &lt;img src="assets/images/demo2.png" alt="..." class="" />
    &lt;!-- 圆角图片 -->
    &lt;img src="assets/images/demo2.png" alt="..." class="rob-img-rounded" />
    &lt;!-- 圆图片 -->
    &lt;img src="assets/images/demo1.png" alt="..." class="rob-img-circle" />

    
    &lt;!-- 相框图片 -->

    &lt;!-- 悬停后颜色加深  图片边框加颜色 -->
        &lt;div class="rob-img-div-border">
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-darken">
        &lt;/div>   

    &lt;!-- 悬停后图片高亮 -->
        &lt;div class="rob-img-div-border"> 
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight">
        &lt;/div> 

    &lt;!-- 悬停后颜色变浅 -->
        &lt;div class="rob-img-div-border">   
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-shoal">
        &lt;/div> 
      
    &lt;!-- 悬停后文字提示 -->              
        &lt;div class="rob-img-div-position" style="padding-top: 5px;">
            &lt;img src="assets/images/demo3.jpg" alt="...">
            &lt;div class="rob-img-hover-text">
                &lt;span class="rob-img-hover-text-title">标题&lt;/span>
                &lt;span class="rob-img-hover-text-content">哈哈呵呵喔喔噢噢恩恩嘿嘿&lt;/span>
            &lt;/div>
        &lt;/div> 
    
    &lt;!-- 悬停后图片有透明度 右上角有定位角标 -->               
        &lt;div class="rob-img-div-position rob-img-div-border" >
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight">
            &lt;img src="assets/images/jiaobiao.png" alt="" class="rob-img-superscript rob-img-highlight">
        &lt;/div>

        
        &lt;!-- 圆角相框图片 -->

        &lt;!-- 悬停后颜色加深  图片边框加颜色 -->
         &lt;div class="rob-img-div-border rob-img-div-border-radius">
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-darken rob-img-rounded ">
        &lt;/div>   

    &lt;!-- 悬停后图片高亮 -->
        &lt;div class="rob-img-div-border rob-img-div-border-radius"> 
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-highlight rob-img-rounded ">
        &lt;/div> 
    
    &lt;!-- 悬停后颜色变浅 -->
        &lt;div class="rob-img-div-border rob-img-div-border-radius">   
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-shoal rob-img-rounded ">
        &lt;/div> 
    
    &lt;!-- 悬停后文字提示 -->      
        &lt;div class="rob-img-div-position" style="padding-top: 5px;">
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-rounded">
            &lt;div class="rob-img-hover-text">
                    &lt;span class="rob-img-hover-text-title">标题&lt;/span>
                    &lt;span class="rob-img-hover-text-content">哈哈呵呵喔喔噢噢恩恩嘿嘿&lt;/span>
            &lt;/div>
        &lt;/div> 
    
    &lt;!-- 悬停后图片高亮 右上角有定位角标 --> 
        &lt;div class="rob-img-div-position rob-img-div-border rob-img-div-border-radius">
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-rounded rob-img-border rob-img-highlight">
            &lt;img src="assets/images/jiaobiao.png" alt="" class="rob-img-superscript rob-img-highlight">
        &lt;/div>



        &lt;!-- 全圆相框图片 -->

        &lt;!-- 悬停后颜色加深  图片边框加颜色 -->
    &lt;div class="rob-img-div-border rob-img-div-border-circle">
        &lt;img src="assets/images/demo4.jpg" alt="..." class="rob-img-border rob-img-darken rob-img-circle ">
    &lt;/div>   

    &lt;!-- 悬停后图片高亮 -->
    &lt;div class="rob-img-div-border rob-img-div-border-circle"> 
        &lt;img src="assets/images/demo4.jpg" alt="..." class="rob-img-border rob-img-highlight rob-img-circle ">
    &lt;/div> 

    &lt;!-- 悬停后颜色变浅 -->
    &lt;div class="rob-img-div-border rob-img-div-border-circle">   
        &lt;img src="assets/images/demo4.jpg" alt="..." class="rob-img-border rob-img-shoal rob-img-circle ">
    &lt;/div> 
      
    &lt;!-- 悬停后文字提示 -->  
    &lt;div class="rob-img-div-position">
        &lt;img src="assets/images/demo4.jpg" alt="..." class="rob-img-circle">
        &lt;div class="rob-img-hover-text">
            &lt;span class="rob-img-hover-text-title">标题&lt;/span>
            &lt;span class="rob-img-hover-text-content">哈哈呵呵喔喔噢噢恩恩嘿嘿&lt;/span>
        &lt;/div>
    &lt;/div>



        </code>
        </pre>
            </section>
        </div>
    </div>
</article>
