<article class="markdown">
    <h1>Scrollbar 滚动条</h1>
    <section class="markdown">
        <p>
            美化滚条的默认颜色
        </p>
    </section>
    <section class="markdown">
        <h2 id="代码演示"><span>代码演示</span><a href="#代码演示" class="anchor">#</a></h2>
    </section>
    <section class="rob-row">
        <div class="rob-col-lg-24">
            <div class="code-box">
                <section class="code-box-demo rob-grid">
                    <div id="Default" class="contentHolder">
                        <div class="title">
                            我是有底色的哟！
                        </div>
                        <div class="content">
                        </div>
                    </div>
                </section>
                <section class="code-box-meta markdown">
                    <div class="code-box-title">
                        <a href="">
                           滚动条
                       </a>
                    </div>
                    <p>
                        美化滚条的默认颜色。
                    </p>
                    <i class="rob-icon rob-icon-home code-show" ng-click="showCode('scrollbar')"></i>
                </section>
                <section class="code-box-content" id="scrollbar">
                    <pre class="rob-col-lg-12">
<code class="language-markup">
 &lt;div id="Default" class="contentHolder">
                       &lt;div class="title">
                           我是有底色的哟！
                       &lt;/div>
                        &lt;div class="content">

                        &lt;/div>
                    &lt;/div>
</code>
</pre>
               <pre class="rob-col-lg-12">
<code class="language-javaScript">
$('#Default').perfectScrollbar();
</code>
</pre>

                </section>
            </div>
        </div>
    </section>
</article>
