/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
[type="radio"].rob-radio-with-gap:checked + label:before {
  border-radius: 50%;
  border: 2px solid #2b459a; }

[type="radio"].rob-radio-with-gap:checked + label:after {
  border-radius: 50%;
  border: 2px solid #2b459a;
  background-color: #2b459a;
  z-index: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5); }
