/*=============normalize=======*/
/*=============varibale=======*/
/*=============mixins=======*/
/* Cubic Bezier Transition */
/*==============mixin=============*/
/* @mixin table-thead($startColor,$endColor) {
  
background-image: linear-gradient(to top, $startColor 0%,$endColor 100%); 
background-image: -webkit-linear-gradient(bottom, $startColor 0%,$endColor 100%); 
  
:root & {filter:none;}
} */
[type="radio"].rob-radio-filled-in:checked + label:before {
  top: 2px;
  left: 1px;
  width: 3px;
  height: 8px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  -ms-transform: rotate(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  border-radius: 0px; }

[type="radio"].rob-radio-filled-in:checked + label:after {
  top: 0;
  width: 13px;
  height: 13px;
  border: 2px solid #35baff;
  background-color: #35baff;
  z-index: 0; }

[type="radio"].rob-radio-filled-in + label:before,
[type="radio"].rob-radio-filled-in + label:after {
  content: '';
  left: 0;
  position: absolute;
  z-index: 1; }
