<!-- 设备展示 -->
<div class="docs-demo-device" id="docs-demo-device" style="top: 30px;">
    <iframe width="320" height="548" frameborder="0" scrolling="on" src="../#/page/area-picker"></iframe>
    <div class="fade-overlay"></div>
</div>
<!-- 内容区 -->
<div class="docs-content with-device">
    <h3 class="demo-title">组件说明</h3>
    <p class="demo-code-desc">一些常用一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面一些常用的按钮在下面的按钮在下面</p>
    <h3 class="demo-title">组件说明</h3>
    <div class="demo-code-desc">
        <pre>
        <code class="language-markup">
             &lt;div class="rob-img-div-border">
            &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-darken">
        &lt;/div> 
        &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-darken">
        &lt;img src="assets/images/demo3.jpg" alt="..." class="rob-img-border rob-img-darken">  
        </code>
        </pre>
    </div>
  
    <div class="important-note">
        <p>Note that, by default, each button in Framework7 is "display:block" and will take 100% of its parent width. </p>
    </div>
</div>